[2015-03-17 20:48] mugurm opened #12 "Add a few more FAQ topics."
We should add a few more:

Simple, yet rich integration with auth and encryption libraries.
Easy to use flow control mechanism Built-in message compression that can be switched off (Future) Enhanced support for load-balancing solution integrations. Useful stats collected, aggregated by library, ability to access and export them enables developer and operator tuning and monitoring

/cc @jayantkolhe

[2015-03-17 20:48] mugurm opened #13 "Add named anchors to FAQ items."
Sometimes we have a need to deep link directly to specific FAQ items. This task is to add bookmarkable anchors to each question.

[2015-05-28 18:17] mugurm opened #23 "Add the Java Quickstart section."
The Java Quickstart has not yet been moved over. We need to move it (and possibly update it) to fit in with the same style as the rest of the languages.

This work is part of the feature/docs branch and not yet on master. A PR is open.

[2015-09-03 16:40] mugurm opened #65 "Errors section formatting issues"
The section describing errors at http://www.grpc.io/docs/guides/wire.html#errors appears incorrectly formatted.

[2015-09-04 00:47] ejona86 opened #67 "Add link to grpc-java JavaDoc"
grpc-java JavaDoc has been available for a little while at http://grpc.io/grpc-java/javadoc/. Now that links to the language documentation are being added, Java's should be added as well.

[2015-09-09 23:59] ejona86 opened #69 ""Generating gRPC code" for Java requires building protoc"
So we've done a bunch of work to distribute pre-built protoc and plugin. However, for the command `../gradlew build` it requires building protobuf manually. That can be avoided with `../gradlew build -PskipCodegen=true`, but that doesn't help demonstrate how to use protoc with Java. It basically leads to wasted effort by our users, as seen in grpc/grpc-java#981.

[2015-10-05 20:24] nathanielmanistaatgoogle opened #81 "Python documentation says "© Copyright 2015, Author.""
At the bottom of http://www.grpc.io/grpc/python/.

I _think_ it should say "© Copyright 2015, The gRPC Authors.", but it's probably @LisaFC's and @mugurm's decision to make. It definitely shouldn't be individuals listed by name. It could be that we don't even want copyright notice on our documentation?

[2015-10-06 23:28] hsaliak opened #82 "Add auth example for python."
docs/guides/auth.html needs a gRPC python example.

[2015-10-14 20:21] hsaliak opened #95 "Generate gRPC code section of Quickstart is missing steps"
http://www.grpc.io/docs/#quick-start is inconsistent with the recommended installation strategy for some languages.

Our current installation recommendation is to install.
libgrpc, libgrpc-dev, language level proto runtime, language level grpc runtime (ie pip install protobuf grpcio).
This does not provide us with the tools needed to generate RPC interfaces. For example, in python we will be missi

[2015-10-14 20:30] hsaliak opened #97 "Check if issue #95 affects ruby and provide updated language if it does."
#95

[2015-10-14 21:11] hsaliak opened #99 "Document installation of everything required for code generation as part of gRPC Python quickstart"
#95

[2015-10-14 21:15] hsaliak opened #101 "Check if #95 affects C++ and provide updated language if it does."

[2015-11-05 05:53] hsaliak opened #119 "http://www.grpc.io/docs/tutorials/basic/go.html references codegen.sh which does not exist"
Following steps in http://www.grpc.io/docs/tutorials/basic/go.html until we are asked to run codegen.sh
This script is not pulled in via any of the previous commands.
We need to remove references to it. /cc @iamqizhao

[2015-12-10 16:55] LisaFC commented on #119
Aaaaaanyone?

[2015-12-15 19:04] louiscryan opened #133 "There's been drift between spec & site doc"
https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md

vs

https://github.com/grpc/grpc.github.io/blob/master/docs/guides/wire.md

In general we should decide how we want to maintain these. Happy to replicate changes

[2015-12-15 19:04] louiscryan commented on #133
@LisaFC

[2015-12-15 19:10] LisaFC commented on #133
Ok, I'll take a look. My preference is to just remove the one in the code repo and just maintain the site one, but if there are strong preferences otherwise we'll need to keep them in sync.

[2016-01-12 22:00] nathanielmanistaatgoogle commented on #82
This is in progress as #135.

[2016-01-22 04:13] thegedge opened #139 "Ruby code has markdown escaping for underscores"
In http://www.grpc.io/docs/#writing-a-server, I'm seeing underscores interpreted as italics. In other words, I see:
[code]
instead of
[code]

[2016-02-12 23:32] ejona86 opened #142 "Document single argument and return for methods"
People coming to proto for the first time probably expect methods to be able to receive multiple arguments and possibly even able to return multiple. We should have a small bit of info about how having a single message in each direction isn't truly limiting since you add "arguments" as fields of that message. That could also be part of a "best practices", since it allows you to add fields over tim

[2016-02-16 23:56] zinuga opened #145 "Add installation instructions on grpc.io"
My suggestion would be to add an explicit installation link here: http://www.grpc.io/docs/#quick-start and have a table for instructions per language to install. (like we have for code pull).  Obviously the new updated instructions per language and OS.

[2016-03-03 21:35] zinuga opened #152 "Fill up tuning RPC section in grpc.io docs"

[2016-03-03 21:45] zinuga opened #153 "Fill up error handling and debugging section in grpc.io docs"

[2016-03-16 17:03] LisaFC opened #160 "Update proto3 information in tutorials/guides"
Tutorials say that proto3 is in alpha, which isn't the case for all languages. Can also provide links to language-specific proto3 reference and tutorials for some languages.

[2016-03-16 17:05] LisaFC commented on #133
Anyone have any strong preferences here? @hsaliak? Other interested parties (please add them)? Otherwise I'm tempted to just sync them then remove the repo version....

[2016-03-16 17:05] LisaFC commented on #119
Pinnnnnng?

[2016-03-18 11:20] royalharsh commented on #145
I would like to work on this one.

[2016-03-18 11:22] LisaFC commented on #145
This is being covered in this PR - PTAL:  https://github.com/grpc/grpc.github.io/pull/159

[2016-03-18 11:24] LisaFC commented on #139
AAAARRRGHHHH MARKDOWN. Will fix.

[2016-03-18 11:54] royalharsh commented on #145
Thanks for the reply :smile:

[2016-03-18 15:39] #139 closed

[2016-03-21 16:47] LisaFC opened #162 "Reorganize auth guide"
Structure of auth guide is getting increasingly confusing as we add more examples! Follow on from https://github.com/grpc/grpc/issues/4243

[2016-03-22 15:26] LisaFC commented on #142
Oh, that's a good idea. I can add that to the Overview - probably under Defining a service.

[2016-03-22 15:56] #142 closed

[2016-03-24 12:56] VcamX opened #164 "Broken link in Go tutorial"
The link of `.proto` file is broken in [Defining the service](http://www.grpc.io/docs/tutorials/basic/go.html#defining-the-service) section.

[2016-03-24 13:05] LisaFC commented on #164
Ah, sorry, didn't see your PR, I've just fixed it in https://github.com/grpc/grpc.github.io/pull/166

[2016-03-24 13:05] #164 closed

[2016-03-24 13:09] VcamX commented on #164
@LisaFC That's OK :smile:

[2016-03-24 16:32] #160 closed

[2016-04-10 21:15] hsaliak opened #170 "Update gRPC Java examples to drop references to Netty and use ManagedChannelBuilder/ServerBuilder instead"
Current client side examples for RouteGuide still use NettyChannelBuilder
See:  http://www.grpc.io/docs/tutorials/basic/java.html for these references.

The examples have switched to use ManagedChannel/ManagerChannelBuilder  per
https://github.com/grpc/grpc-java/pull/1008

On the server side, we now use Providers since https://github.com/grpc/grpc-java/pull/1005
The documentation needs to be simil

[2016-04-10 21:25] hsaliak opened #171 "Drop reference to non existent quick start guide in java basics tutorial"
http://www.grpc.io/docs/tutorials/basic/java.html references a [http://www.grpc.io/docs/installation/java.html](https://github.com/grpc/grpc.github.io/blame/master/docs/tutorials/basic/java.md#L42) which does not exist.

[2016-04-11 10:18] #171 closed

[2016-04-11 17:54] #145 closed

[2016-04-11 17:54] zinuga commented on #162
@jboeuf what do you think?

[2016-04-11 17:55] zinuga commented on #152
@jayantkolhe who can own this?

[2016-04-11 17:55] zinuga commented on #153
@jayantkolhe who can own this?

[2016-04-11 18:02] zinuga opened #173 "Flow control and Configuration are TBD in concepts page"
http://www.grpc.io/docs/guides/concepts.html
This page has two sections as TBD. Need to fill them up. @jayantkolhe who is the right owner with lisa to do these?

[2016-04-12 14:34] LisaFC commented on #173
@nathanielmanistaatgoogle, any ideas? (given that we worked on the existing content)

[2016-04-12 14:35] LisaFC commented on #153
I'm happy to get started on this ASAP once I actually get some content/someone to annoy with questions....

[2016-04-12 15:58] #170 closed

[2016-04-21 22:23] zinuga opened #176 "Add a performance section to grpc.io"

[2016-04-21 22:23] zinuga opened #177 "Add presentations and talks section to grpc.io"

[2016-04-22 22:35] jtattermusch opened #179 "Add a section about gRPC performance and link to gRPC performance dashboard (once ready)"
We are currently working on populating the performance dashboard (it is not ready yet), but just to get an idea, this is how approx. it is going to look like:
https://performance-dot-grpc-testing.appspot.com/explore?dashboard=5760820306771968

[2016-04-22 22:35] jtattermusch commented on #179
CC @hsaliak

[2016-04-25 15:09] LisaFC commented on #179
Would we have this as a separate doc in the Guides or Reference section, do you think?

[2016-04-25 15:10] LisaFC commented on #176
Duplicates https://github.com/grpc/grpc.github.io/issues/179

[2016-04-25 15:11] LisaFC commented on #173
@nathanielmanistaatgoogle? @hsaliak? Anyone else? We really just need a high level conceptual overview paragraph, similar to those we've already provided for Metadata, etc.

[2016-04-25 15:19] ctiller commented on #173
We've got a WIP design doc in place.

On Mon, Apr 25, 2016 at 8:11 AM LisaFC <notifications@github.com> wrote:

[2016-04-25 15:24] LisaFC commented on #153
Aaaaaaaanyone?

[2016-04-25 15:25] LisaFC commented on #173
Can you point me at it and I'll stick something in the doc (provided it's at least conceptually ready for public consumption)?

[2016-04-25 16:43] jayantkolhe commented on #153
@a11r  can you please work with Lisa?

[2016-04-25 18:15] jtattermusch commented on #179
Yes, I think it should be in the Guides section.  What it should contain (just a braindump of some of my thoughts).

1. Some statement about what we are trying to achieve (that gRPC is supposed to be high-performance, low-overhead and should work well under heavy-load situation). We might also mentions that google is planning to use gRPC internally to run its production services.

2. A paragraph a

[2016-04-25 18:15] jtattermusch commented on #179
CC @vjpai

[2016-04-26 12:49] LisaFC opened #180 "Remove deprecated scoped credentials examples from auth.md"
This approach is described in the Examples section as no longer recommended and, per @jboeuf, the snippets just add "noise" to the doc.

[2016-04-26 12:51] LisaFC opened #181 "Add remaining language examples to auth.md"
Currently we're missing (as far as I can see):

- some C++ examples (I know there are some in the general API section but they should be comprehensive and in Examples as well, as that's where users are going to look for them)
- some Objective C examples (there are none)
- just using SSL/TLS example for PHP (it looks like it's in the auth with Google example but I don't know enough about PHP to pul

[2016-04-26 12:52] LisaFC opened #182 "Add more information on how to set up SSL/TLS on a server to auth.md"
Currently we only have a server-side example for this in Java, should be provided for other languages too.

[2016-04-27 00:07] nathanielmanistaatgoogle commented on #173
@LisaFC No ideas and I feel like everything I once knew has been superseded; sorry.

[2016-04-27 14:01] LisaFC commented on #173
@nathanielmanistaatgoogle, no problem! There's a lot of STUFF.

[2016-04-29 14:22] LisaFC commented on #173
@ctiller, do you want to add something and/or point me at the relevant info?

[2016-04-29 15:02] LisaFC commented on #153
Ping! :) @a11r

I've got this much so far but the beginning is a bit hand-wavey: http://lcarey0-l.dub.corp.google.com:4000/docs/guides/error.html

I'll send a proper PR for review once I know I'm going in the right direction.

[2016-04-29 15:41] LisaFC commented on #179
OK, do you want to try to put together some rough information and then I can turn it into something nice and shiny for the site?

[2016-04-29 15:42] LisaFC commented on #177
Do you have any content for this? Any ideas about where it should live in the current structure (top-level nav item like Documentation and Blog, maybe?)?

[2016-04-29 20:03] jtattermusch commented on #179
@vjpai can you try to put together some basic info?

[2016-05-02 20:27] ByteFlinger opened #183 "Misleading Java tutorial on client-side streaming"
Hi

I have been trying out the tutorials and the framework in general and noticed that when I implement the client side of a client streaming service (as pointed here http://www.grpc.io/docs/tutorials/basic/java.html), the onNext method never gets called.

On the site we see the following implementation

[code]

However in my tests this never gets called (which I suppose is OK since the answer its

[2016-05-03 00:09] hsaliak commented on #183
I tried to reproduce this issue and noticed that onNext is indeed called.
Given all the examples, I found it helpful to prefix the info line I was looking for with a "calling onNext:"
ie: info("calling onNext: Finished..

On the server side, onNext will be called for each time a point is sent to it.

Perhaps your logging is not configured to display info level messages?

[2016-05-03 05:19] zinuga commented on #177
I would like to add on homepage below the fold for now with a standard embed size (till we do a redesign). Can include two sections for now:
Talks:
https://www.youtube.com/watch?v=sZx3oZt7LVg
https://www.youtube.com/watch?v=-2sWDr3Z0Wo

Presentations
https://docs.google.com/presentation/d/18HIWXt4_JhYFYpg1CT8qC8yNMPP6sGKZX07uwMFebLI/edit#slide=id.gdee976459_2_414

[2016-05-03 11:31] LisaFC commented on #177
I can add that for you if you like.

[2016-05-03 15:03] LisaFC commented on #177
I don't think that presentation is visible outside Google, can you check?

[2016-05-03 15:33] LisaFC commented on #177
Looks a bit like this so far...
http://lcarey0-l.dub.corp.google.com:4000/

[2016-05-04 22:12] jcanizales opened #185 "Out of date ObjC tutorial code"
Hi!

IIRC the handler parameter [here](http://www.grpc.io/docs/tutorials/basic/objective-c.html#streaming-rpcs) is now called `eventHandler`.

Cheers!
@zinuga @makdharma

[2016-05-05 14:22] LisaFC commented on #162
Marking as closed as remaining enhancements for this doc have their own issues.

[2016-05-05 14:22] #162 closed

[2016-05-05 17:45] #185 closed

[2016-05-06 14:56] LisaFC opened #188 "Update overview and Node tutorial with dynamic/static code"
Following on from https://github.com/grpc/grpc/pull/6431, once this is merged in we should update the Overview/Hello World tutorial and Route Guide tutorial with information about Node's two protobuf code generation options.

[2016-05-07 21:23] zinuga commented on #177
May be we split into 3 parts and have clear titles to parts and contents in
them.

Talks:

   1. gRPC Go at Gotham 2015
   2. Microservices with gRPC and Kubernetes:
   https://www.youtube.com/watch?v=UOIJNygDNlE

Presentations

   1. gRPC Overview: http://www.slideshare.net/VarunTalwar4/grpc-overview
   2. gRPC Design and Implementation: Use this:
   http://www.slideshare.net/VarunTalwar4/grpc-de

[2016-05-13 14:48] zellyn opened #193 "http://www.grpc.io/posts/ has no rss feed"
Interestingly, it has an rss icon. Which somehow makes the lack of feeds worse.

[2016-05-31 12:32] LisaFC opened #202 "Update docs with new tools installation commands"
Need to update docs along with release 0.14 to cover new simplified tools/protoc & plugin installation.

This will largely affect the Overview, though we also need to make sure all the READMEs/installation docs are up to date.

I can work on this myself but may need some help - @hsaliak, @murgatroid99, @jtattermusch, anyone else?

[2016-05-31 12:46] LisaFC commented on #181
Ping?

[2016-05-31 12:46] LisaFC commented on #180
Ping?

[2016-06-01 16:08] hsaliak commented on #202
We need update docs for Python, Ruby and Node at the minimum.

We need to update the top level INSTALL.md's "if you are in a hurry" section to reference these tools for some of the wrapped languages /cc @stanley-cheung would you be able to help with that?

@LisaFC I can review this PR..

[2016-06-03 17:30] #202 closed

[2016-06-08 12:41] jboeuf commented on #180
@LisaFC sorry for the delay...

@jtattermusch how do you feel about this? I'm personally all for it but you had some reservations for certain use cases if I remember correctly.

[2016-06-08 13:04] jboeuf commented on #181
#204 addresses C++, assigning language owners for other languages.

[2016-06-08 17:17] ejona86 opened #205 "docs/guides/auth.html has broken fragments"
Because multiple headers are identical (but in different sections), it seems they end up being the same fragment. This seems like a pretty fundamental bug in the software that produces the ids (probably not in our markup).

For example click Java's "Base case - no encryption or authentication". It will have the same URL as Ruby's (and since Ruby is first in the document, you will be taken to Ruby'

[2016-06-08 22:01] ejona86 commented on #181
Scopeless credentials example needs grpc/grpc-java#785, and then would be similar to other languages where you simply don't specify credentials.

[2016-06-09 14:27] LisaFC commented on #205
Yes, I noticed that earlier - the autogenerated TOC thing is done with some fairly simple Javascript I found here: https://github.com/ghiculescu/jekyll-table-of-contents

I'll see what I can do to fix it, may involve either updating the script or adding some kind of manual anchors.

[2016-06-09 23:34] jtattermusch commented on #180
Ok, let's do this.

[2016-06-10 10:19] jboeuf opened #207 "python example in auth.md for python authentication looks outdated"
Please update the new "scopeless" creds awesomeness.

Thanks!

[2016-06-13 17:23] #180 closed

[2016-06-15 16:28] ejona86 opened #209 "Outdated snippets for Java tutorial"
The [Java tutorial](http://www.grpc.io/docs/tutorials/basic/java.html) is now a bit out-of-date compared to the examples that they link to. It is still "correct," but doesn't make it as obvious how we would encourage error handling. It seems I'm at fault for not getting the docs updated when I did [my error-handling commit](https://github.com/grpc/grpc-java/commit/df310fe2b5a02f99e2a04cc69a4c0434f

[2016-06-15 16:32] LisaFC commented on #209
Is it the text that's out of date, or the snippets, or both? Do you want to do a rough update and I can review?

[2016-06-15 17:12] ejona86 commented on #209
I didn't read over the text to check, but I assume the text is still approximately right. I can do a rough update, although I'm concerned about having enough time before GA, so I might try to pass it off.

[2016-06-15 19:37] zinuga opened #210 "Publish contribution guidelines and governance model for grpc ecosystem"
We would like to have a curated list of grpc contributions from community. This is to track publishing of a guidelines doc for it.

[2016-06-15 22:07] hsaliak commented on #193
Thanks for filing the issue -- we will remove the icon in an upcoming site revamp.

Do let us know if you feel strongly about providing an RSS feed, we do not have plans to do so at the moment but can consider if this would be useful to have.

[2016-06-15 22:09] hsaliak commented on #207
@nathanielmanistaatgoogle would you be able to point to some documentation/examples around this?

[2016-06-15 22:10] #183 closed

[2016-06-15 22:11] LisaFC commented on #188
Fixed in https://github.com/grpc/grpc.github.io/pull/197

[2016-06-15 22:11] #188 closed

[2016-06-15 22:18] hsaliak opened #211 "Potentially blog or document performance tuning tips for gRPC"
Eg, documentation covering
- Fill up Tuning section
- Fill Tuning RPC Behavour
- Flow Control
- Deadlines
- Configuring Fail Fast / Non-fail fast

[2016-06-15 22:31] LisaFC commented on #181
Objective C is actually covered in its own tutorial, so can link to it.

[2016-06-17 15:50] ByteFlinger commented on #183
Sorry, I was supposed to have commented. You are correct in that I think it was a mistake on my side. Thanks

[2016-06-24 17:17] zinuga opened #214 "Generating client code for PHP docs"
http://www.grpc.io/docs/tutorials/basic/php.html#generating-client-code
Generating the packages for a php client as described above is very awkward and doesn't work (Dale can provide more info on that point)
Basically, for PHP, client generation span different build system (gem, rake).
It includes some 3rd party library ("drslump")
(was pretty difficult to use;  couln't get it working as of yet)

[2016-06-24 17:19] zinuga opened #215 "Mutual auth example in Node"
Would very much like examples on how to do mutual auth on node.  Its pretty easily done in Go, but in node, its not at all clear from the docs.

For example, this is what they'd like to do in node.  Do we have any examples in node to publish (infact, I'd say we publish in all languages)

cer, err := tls.LoadX509KeyPair("./certs/client.crt", "./certs/client.key")
    if err != nil {
        fmt.Pri

[2016-06-24 17:41] stanley-cheung commented on #214
This is because we are currently using a 3rd party protobuf solution before we have official proto3 support. This will all go away once we are able to switch to proto3.

But in any case can you provide some log on what doesn't work ?

[2016-06-24 19:38] zinuga opened #216 "Create a new blog entry from Vendasta"
content available internally.

[2016-06-24 21:33] ckurz-va commented on #214
I can chime in here.

I pushed a docker image of our process. It's available at docker.io/toad008/datariver-php. The image is based of php5.5, and installs all the things we found we needed to get things working. It also copies in our proto file, and a test.php file we have been trying to get things to work with.

If you pull the image, and run command line in it (docker run -ti toad008/datariver-

[2016-06-24 22:07] stanley-cheung commented on #214
Sorry to hear about your experience. The error you got is indeed a mismatch between the composer version vs the PHP extension version. In your `composer.json` file when you pull in `grpc/grpc` as dependency, can you make sure the version is `dev-release-0_14`?

[2016-06-27 15:52] ckurz-va commented on #214
That does seem to allow the code to all compile as expected. Thanks!

[2016-06-27 15:53] ckurz-va commented on #214
I believe we can call this issue closed and resolved, as we are no longer blocked, however, I think an issue to update / improve documentation is likely still valuable.

[2016-06-27 22:12] ckurz-va commented on #214
We are hitting another big problem.

We have an SSL encrypted server. In C# and node.js, you create the Channel Credentials as SslCredentials with null args, indicating the server is doing the ssl work. In the php case, we can't create SslCredentials without a pem file, which we would rather not distribute with our code.

How do we generate the SSL channel creds in php like we do in C#?

C#:
[code

[2016-06-27 22:33] stanley-cheung commented on #214
Let me take a look. I suspect this is an issue we fixed with the upcoming 0.15 release. But I will confirm

[2016-06-28 00:06] stanley-cheung commented on #214
I was able to reproduce the exact error on 0.14 and verified that the issue is fixed in 0.15. Please wait for a couple of days and the latest release should be up. Sorry about this.

[2016-06-28 22:21] stanley-cheung commented on #214
PHP v0.15.0 has been released. Can you please update your `composer.json` file to say `"grpc/grpc": "v0.15.0"`. And make sure your `sudo pecl install grpc-beta` command picked up the latest release `0.15.0` (just by reading the log output, the last few lines should be enough).

Thanks.

[2016-06-28 23:52] vjpai commented on #179
Current multi-language dashboard is at
https://performance-dot-grpc-testing.appspot.com/explore?dashboard=5760820306771968

[2016-06-29 16:47] ckurz-va commented on #214
Made more progress.

The 0.15.0 seems to have gotten us past the creating server ssl creds call we were making. The newest error I'm hitting is: `PHP Warning:  call_user_func() expects parameter 1 to be a valid callback, class 'datariver\ListingResponse' does not have a method 'deserialize' in /datariver/vendor/grpc/grpc/src/php/lib/Grpc/AbstractCall.php on line 125`
It looks like the github code

[2016-06-29 16:54] stanley-cheung commented on #214
Yes, known issue. You need to add this block in your `composer.json` file.

[code]

See https://github.com/grpc/grpc/blob/master/examples/php/composer.json. This will override the Protobuf-PHP implementation with our fork. We are in the process of getting our change merge upstream.

[2016-06-29 16:55] ckurz-va commented on #214
yeah, the lib directory copy worked great, but I like the composer change to resolve the issue. I'm seeing the response as expected from my server now, so I'm feeling very close to the end here. Thanks again for all the prompt responses, and good information!

[2016-06-29 23:59] dgquintas opened #218 "update markdown engine to kramdown"

[2016-06-30 00:03] hsaliak commented on #218
@zinuga can this be addressed as part of the website revamp?

[2016-06-30 00:15] dgquintas commented on #218
Here's my WIP set of changes up to the point when I gave up. `index.md` is in a bad shape due to its faulty html (unclosed tags, mostly <p> and <li>) and its mixture of markdown and html. This confuses the new parser. I've fixed some: https://github.com/grpc/grpc.github.io/pull/219

[2016-07-06 14:35] LisaFC commented on #218
The mixture of Markdown and HTML in that page was/is an unfortunate consequence of the Markdown engine getting confused by the tab divs when I added the tabs - it simply wasn't rendering some of the tab contents at all (goes off muttering about the evils of Markdown). The fact that I only turned some of them into raw HTML and the unclosed tags are purely my sloppy/hasty editing....

Thanks for tak

[2016-07-07 16:20] LisaFC commented on #218
Oh, FUNTIMES, the Kramdown parser is so fussy with HTML that instead of just not showing bits of code that accidentally look like HTML elements (eg std::unique_ptr<Parser>) it actually craps out completely any time it encounters a < or > that isn't HTML, even if it doesn't have a matching > or < and hence would render fine in normal HTML. I'll get this finished today, hopefully with what remains o

[2016-07-07 17:27] dgquintas commented on #218
what about using &lt and &gt in lieu of < and >?

On Thu, Jul 7, 2016 at 9:20 AM, LisaFC <notifications@github.com> wrote:

[2016-07-07 17:33] LisaFC commented on #218
That's what I've done. It's just a matter of finding them amongst the HTML....

Have a fix ready, just need to sort out some merging issues.

[2016-07-07 21:56] zinuga opened #226 "Add a quickstart (hello world example) for Android Mobile."
Need to add a section for "how to build on android" for new mobile developers.

[2016-07-07 21:57] zinuga opened #227 "Add a quickstart (hello world example) for iOS Mobile."
Write a new doc for "how to build for iOS" for new iOS mobile developers.

[2016-07-07 22:00] zinuga opened #228 "Write a doc on "how to use gRPC with Zipkin tracing""
Write a doc on "how to use gRPC with zipkin tracing".

[2016-07-07 22:00] zinuga opened #229 "Mobile client example for routeguide server"

[2016-07-07 22:04] zinuga opened #230 "Write a doc and sample on how to use gRPC with nginx"

[2016-07-07 22:04] zinuga opened #231 "Write a doc and sample on how to use gRPC with haproxy"

[2016-07-07 22:05] hsaliak commented on #173
@ctiller ping on this issue, do you think this is something we can have as a concept in time for the GA rollout?

[2016-07-07 22:05] zinuga opened #232 "Load Balancing best practice doc on website"
We need to have a load balancing best practices/how to doc on our website for users deciding on how to do load balancing with gRPC

[2016-07-07 22:09] zinuga opened #233 "Contribution guidelines doc to be written up"

[2016-07-07 22:10] zinuga opened #234 "Tutorials content for new website"

[2016-07-07 22:10] zinuga opened #235 "Samples content for new website"

[2016-07-07 22:11] zinuga opened #236 "Update FAQ for GA"

[2016-07-08 03:31] #214 closed

[2016-07-08 15:11] LisaFC commented on #218
Fixed in https://github.com/grpc/grpc.github.io/pull/225

[2016-07-08 15:11] #218 closed

[2016-07-08 15:12] LisaFC commented on #234
Presume this is just our existing tutorials content - it shouldn't need moving, if so, the new design has it in the same directory structure. We do have new Quickstarts to add, which will need their own issue if I haven't created one already...

[2016-07-08 15:51] hsaliak commented on #236
- [ ] Review current FAQ and update the answers as necessary @zinuga
- [ ] Check if new questions need to be added. @zinuga
- [ ] Update FAQ @LisaFC

[2016-07-08 16:01] hsaliak commented on #235
- [ ] Check and verify secure hello world, streaming hello world. Implemented only in Go for GA.
- [ ] Check and verify sample on streaming on iOS using an external API /cc @timburks
- [ ] Android mobile json vs grpc benchmark samples @makdharma is it worth linking here?
- [ ] Link to the samples from github. @LisaFC
- [ ] Metadata usage sample in at least 1 language.  @hsaliak

[2016-07-08 16:02] hsaliak commented on #234
- [ ] Volunteers for every language. @hsaliak
- [ ] Review existing tutorials.

[2016-07-08 16:03] hsaliak opened #237 "Refresh Quickstart content for website."
- [x] Volunteers for every language.
- [x] Review content, provide PRs if necessary.

[2016-07-08 16:05] hsaliak opened #238 "Refresh Quickstart content for website."
- [ ] Volunteers for every language.
- [ ] Review content, provide PRs if necessary.

[2016-07-08 16:05] zinuga commented on #235
Secure Hello World in Go
https://github.com/kelseyhightower/helloworld
Tim's sample: https://github.com/GoogleCloudPlatform/ios-docs-samples/tree/master/speech/Objective-C/Speech-gRPC-Streaming

[2016-07-08 16:08] hsaliak commented on #233
Update https://github.com/grpc/grpc.github.io/blob/master/contribute/index.html with the latest information.

[2016-07-08 16:12] hsaliak commented on #232
@dgquintas Would you be able to provide a document on how to use the current API hooks to get users started on load balancing with gRPC?
What we need is something at a "block diagram" level that uses our load reporting API to conceptualize a simple load balancer.

[2016-07-08 16:15] hsaliak commented on #230
@fengli-google would you be able to help out with this?

[2016-07-08 16:15] hsaliak commented on #229
- [ ] iOS sample
- [ ] Android sample

[2016-07-08 16:21] hsaliak commented on #227
@jcanizales, @makdharma can you verify that https://github.com/grpc/grpc/tree/master/src/objective-c reflects the latest installation procedure for iOS?

[2016-07-08 16:25] hsaliak commented on #226
This will assume prerequisites of having Android Studio and the Android SDK installed.

[2016-07-08 16:27] hsaliak commented on #210
Should be moved to the grpc-ecosystem org.

[2016-07-08 16:27] #210 closed

[2016-07-08 16:29] #176 closed

[2016-07-08 16:30] #153 closed

[2016-07-08 16:31] hsaliak commented on #152
@hsaliak to finalize scope.

[2016-07-08 16:47] dgquintas commented on #232
Those features are not part of GA. I'm happy to put together such a doc, but the only LB mechanisms available in the GA release are Pick First and Round Robin. There's no load reporting and no `grpclb` (ie, the "external load balancing service" described in https://github.com/grpc/grpc/blob/master/doc/load-balancing.md). There's also no way in GA to choose between Pick First and Round Robin. That'

[2016-07-08 16:53] hsaliak commented on #232
I see -- would be good to at least describe the current state and what's available, as more features come through in this space, we can add them to the doc. Pick First vs Round Robin -- if we cannot chose, whats the default?

[2016-07-08 16:57] zinuga commented on #232
And more importantly describe what user needs to do, what we do in client, server and balancer side to do even PickFirst or RoundRobbin.

[2016-07-08 17:43] dgquintas commented on #232
The default is Pick First and there's no (publicly available) way to choose :)

With all this, do we still want to write anything now? It'd mostly be a "what's coming", augmenting the aforementioned load-balancing.md doc.

[2016-07-08 22:44] zinuga commented on #232
dgq and I spoke and we agreed on scope

[2016-07-08 23:50] hsaliak commented on #232
Could you please persist that in this issue :)

On Fri, Jul 8, 2016, 3:44 PM Varun Talwar <notifications@github.com> wrote:

[2016-07-08 23:53] dgquintas commented on #232
The consensus (after also talking to @a11r) is to expand https://github.com/grpc/grpc/blob/master/doc/load-balancing.md with some more details, specifically a visual diagram of the high level architecture. I'm working on this right now.

In any event, this should not have the GA tag, as it's unrelated.

[2016-07-09 00:54] dgquintas commented on #232
see https://github.com/grpc/grpc/pull/7294

[2016-07-11 19:36] hsaliak commented on #238
Duplicate of #237

[2016-07-11 19:36] #238 closed

[2016-07-15 09:15] farcaller opened #242 "Go tutorial mentions a missing quick start guide"
http://www.grpc.io/docs/tutorials/basic/go.html references "the Go quick start guide" pointing to http://www.grpc.io/docs/installation/go.html, which is missing.

[2016-07-15 10:42] #242 closed

[2016-07-19 22:57] zinuga opened #246 "Benchmarks doc for mobile"
https://github.com/david-cao/gRPCBenchmarks/blob/master/writeup.md

[2016-07-20 15:33] LisaFC commented on #237
We now have a Python quickstart in this PR that should be used as a model for the other languages: https://github.com/grpc/grpc.github.io/pull/223

Preview here: https://github.com/LisaFC/grpc.github.io/blob/quickstarts/docs/quickstarts/python-quickstart.md

[2016-07-20 23:26] #232 closed

[2016-07-21 17:27] zinuga commented on #215
@murgatroid99 @LisaFC we should add this after GA

[2016-07-21 17:41] zinuga commented on #227
@LisaFC @makdharma what more do we need to do here to make it a compelling quickstart for iOS?

[2016-07-21 18:13] jcanizales commented on #227
@zinuga can you clarify your original intention? :)

[2016-07-22 18:06] zinuga commented on #237
- [ ] @murgatroid99 can you do node and ruby?
- [ ] @nicolasnoble C++?
- [ ] @ejona86 java?

Lets follow the python template and get this done

[2016-07-22 18:07] zinuga commented on #237
- [ ] @apolcyn for C#

[2016-07-22 18:07] ejona86 commented on #237
Does the quickstart replace the tutorial? Or is it in addition?

[2016-07-22 18:13] LisaFC commented on #237
It's in addition - the idea is that it's for someone who wants to dive straight in and DO SOMETHING, without much explanation, just letting them complete a proper task. Then they look at the tutorial for a walk through with all the context information and links.

I have shamelessly stolen this idea from cloud.google.com's doc template and UX research...

[2016-07-22 18:38] murgatroid99 commented on #237
Node is unusual here because it has two different kinds of code generation. Dynamic code generation is simpler/easier to use, but static code generation has a workflow and interface more consistent with how this will work in other languages. Which should my Node quickstart guide cover?

[2016-07-22 18:42] hsaliak commented on #237
Do we want users to eventually move to the static flow, if so we should
just cover that here so that we do not have to come back and update the
guide later.

If we want to leave the static code generation flow as an advanced feature
and let most users just do dynamic code generation, then i think the latter
is sufficient.

On Fri, Jul 22, 2016 at 11:38 AM Michael Lumish <notifications@github.com>

[2016-07-22 21:23] murgatroid99 commented on #237
I think that if we want the reader to get something up and running quickly and relatively easily, dynamic codegen works better for that. I'm not exactly sure if we want all users to switch to static codegen, but I don't think we intend to remove the dynamic codegen anytime soon. Plus, switching won't be a ton of work, so, I'll go with dynamic codegen for now.

[2016-07-22 21:28] murgatroid99 commented on #237
Also, should these quickstart guides go into the GA branch or the master branch?

[2016-07-22 21:31] hsaliak commented on #237
They should go into the GA branch.

On Fri, Jul 22, 2016, 2:28 PM Michael Lumish <notifications@github.com>
wrote:

[2016-07-23 16:44] apolcyn commented on #237
C# draft here https://github.com/grpc/grpc/pull/7515. Greeter and route_guide examples seemed to need to be updated too, with https://github.com/grpc/grpc/pull/7514.

[2016-07-26 04:08] zinuga commented on #246
We will split this into two docs. One will go under posts as a summary of our mobile benchmarking study. The other will be a "how to build benchmarks" on github.
Drafts are here:
https://github.com/david-cao/gRPCBenchmarks/blob/master/blog.md (Post)
https://github.com/david-cao/gRPCBenchmarks/blob/master/writeup.md (How to Build)

[2016-07-26 04:09] zinuga commented on #237
@dgquintas for C++ quickstart
Reiterating that quickstarts should include "updating a grpc service" by way of adding a method to hello world proto and using it.

[2016-07-26 17:25] david-cao commented on #246
How to build is now here: https://github.com/david-cao/gRPCBenchmarks/blob/master/README.md

[2016-07-26 20:35] zinuga commented on #236
Reviewed FAQ and edited responses.
https://github.com/grpc/grpc.github.io/pull/249

[2016-07-27 03:04] hsaliak opened #258 "Tracking issue for all links and placeholder docs in our GA site."
Main page:
- [x]  Works Across All platforms and Start quickly and scale both lead to quickstarts. @zinuga
- [x]  Bi-directional streaming and auth does not lead anywhere. @zinuga
- [x] Get started at bottom of page does not lead anywhere. @zinuga
- [x]  Quickstarts at bottom of page need to be populated.  @zinuga
- [x] Community link at bottom of page links to github.com/grpc/grpc.github.io , whe

[2016-07-27 03:10] hsaliak commented on #258
@zinuga can you clarify where some of the missing links should point to?
Please also look at the docs page, especially the parts about "gRPC by use cases"

[2016-07-27 16:42] nathanielmanistaatgoogle commented on #207
This will go hand-in-hand with [gRPC issue 7548](https://github.com/grpc/grpc/issues/7548). @kpayson64, I've been meaning to get to this for the last week or so but haven't been operating at full steam...

[2016-07-27 23:21] kpayson64 commented on #207
I think #7548 is a little different.  The example for #7548 should still use scoped credentials, but should recycle the oauth object so we don't request new credentials in every loop.

I'm pushing the "scopeless" documentation off GA, and will document the scopeless use with #6860 because we will publish some convenience wrappers for scopeless/scoped creds and update the documentation there.

[2016-07-29 19:47] zinuga commented on #258
Have a PR in to fix a lot of the homepage and about page issues
https://github.com/grpc/grpc.github.io/pull/268

More to follow in a separate PR.

[2016-07-29 20:03] hsaliak commented on #258
Thanks Varun, PR looks good, can you also check off some of the issues this addresses after I merge it in?

[2016-07-29 20:58] ejona86 commented on #258
- [ ] list item text should be lighter (it is too dark), to match surrounding paragraphs

[2016-08-01 20:36] zinuga commented on #216
closed. Part of new website design. (which launches with GA)

[2016-08-01 20:36] #216 closed

[2016-08-02 05:57] hsaliak commented on #236
The pull request in #249 has some merge requests that need to be resolved.

[2016-08-02 06:21] hsaliak opened #276 "Create Go quickstart guide"
Please create a quickstart guide for Go by updating
https://github.com/grpc/grpc.github.io/blob/GA/docs/quickstart/go.md
please send this pull request to the ```GA``` branch.

You can use
https://github.com/grpc/grpc.github.io/blob/GA/docs/quickstart/cpp.md
and
https://github.com/grpc/grpc.github.io/blob/GA/docs/quickstart/python.md
as references.

Protoc installation:
Here is some potential instr

[2016-08-02 06:44] hsaliak commented on #258
- [ ] Bullets points on the new site look awkward, I think there is unnecessary stylistic variation which gives it an inconsistent feel. Example screenshot:

![image](https://cloud.githubusercontent.com/assets/150108/17319327/d11c711a-5841-11e6-9a9a-faba63bc643f.png)

[2016-08-02 07:47] hsaliak commented on #258
@ejona86 I just realize that my earlier comment covers the same issue you raise in your earlier comment and improved in #271 .
Perhaps thats indication that we need to improve the consistency between paragraph texts and list item texts even further? See attached screenshot.

[2016-08-02 16:05] ejona86 commented on #258
@hsaliak what "stylistic variation" are you referring to? There is a 1px size difference (16px vs 15px), but it shows up pretty noticeable. Is that it? Font is the same. Font weight I fixed in #271 to match.

[2016-08-02 17:50] hsaliak commented on #179
@vjpai we need performance numbers for the existing v1.0.x branch, so that users see the performance characteristics for the stable release. Given that it may see lesser commits than master, an alternative representation such as a table of benchmarks with %tile numbers may be sufficient.
/cc @jayantkolhe
I believe that @adelez is working on this?

[2016-08-02 17:53] adelez commented on #179
Yes, I'm working with sreek@ on this. Already uploaded data for 32core
tests but seeing failures for 8core. Investigating.

On Tue, Aug 2, 2016 at 10:50 AM, Kailash Sethuraman <
notifications@github.com> wrote:

[2016-08-02 17:57] hsaliak commented on #179
/cc @sreecha

[2016-08-02 18:22] hsaliak commented on #258
- [ ] Switch all references to http://grpc.io/release to https://grpc.github.io/release @dgquintas

[2016-08-02 20:29] ejona86 commented on #258
@hsaliak I don't think swapping to https://grpc.github.io/release does any good, because it redirects to http://www.grpc.io/release. So it gives a better _appearance_ but doesn't address the actual issue.

[2016-08-02 20:31] ejona86 commented on #258
@hsaliak, @dgquintas  Instead of having people curl /release, why don't we just use `{{ site.data.config.grpc_release_branch }}` directly in the markdown?

[2016-08-02 21:08] adelez commented on #179
Here is the dashboard:
https://performance-dot-grpc-testing.appspot.com/explore?dashboard=5738600293466112&widget=952298825&container=846542667

On Tue, Aug 2, 2016 at 10:57 AM, Kailash Sethuraman <
notifications@github.com> wrote:

[2016-08-02 21:44] dgquintas commented on #258
@ejona86 that's actually a great idea. Talk about over-engineered solutions...

[2016-08-02 21:53] hsaliak commented on #258
@ejona86 thanks for spotting that, i followed the redirects, not what i expected..

[2016-08-02 22:42] apolcyn commented on #237
For C# quickstart.

Because of the pending change that breaks IDE usage on mac and linux, in PR https://github.com/grpc/grpc/pull/7519, I will have to update the quickstart, and possibly the examples, with workarounds for using them on mac and linux.

[2016-08-02 22:45] hsaliak commented on #179
Thanks @adelez can we represent the data in any other format (Eg: a table) given that we may not get pull requests that often into the 1.0 branch?
Also @vjpai would you be providing a short write up that accompanies?

[2016-08-03 00:05] #227 closed

[2016-08-03 18:09] adelez commented on #179
Recreated the GA dashboard at
https://performance-dot-grpc-testing.appspot.com/explore?dashboard=5712453606309888&widget=1747498211&container=897341821

However, Go is still built from the master branch. What's the way to get
the GA build for Go?
The following Python tests are not in the database for some reason, most
like they failed:
python_protobuf_sync_unary_ping_pong
python_to_cpp_protobuf_sy

[2016-08-04 05:22] ejona86 commented on #258
* [ ] Remove extraneous indentation in all code snippets. There is very little vertical space, we shouldn't squander it on indentation that applies to all lines in the snippet.
 * [ ] Word-wrap lines.  In general, markdown is supposed to be word-wrapped because it may be read like a txt file. This is purely nice to have, can happen at any time, and has no visible impact on the website.

[2016-08-04 19:50] dgquintas commented on #258
- [ ] There are two C# quickstarts: one in `docs/quickstart/csharp.md` and another one at `docs/quickstarts/csharp-quickstart.md` @apolcyn

[2016-08-04 21:37] apolcyn commented on #258
@dgquintas sorry missed that https://github.com/grpc/grpc.github.io/pull/288 moves the quickstart that is currently committed.

[2016-08-04 22:50] ejona86 commented on #258
* [ ] Community page says "You can reach us via... IRC" but doesn't provide the IRC channel information @hsaliak

[2016-08-04 22:55] dgquintas commented on #258
@ejona86 it's a test! Shrewd users only :P

[2016-08-04 23:43] ejona86 commented on #258
* [ ] Contribution guidelines can overlap with header.
![screenshot 2016-08-04 at 4 40 25 pm](https://cloud.githubusercontent.com/assets/2811396/17421888/3a3fc5d0-5a62-11e6-9767-00282c2485de.png)
 * [ ] Contribution guidelines has extraneous fragment on link (contribute/#contribute/index.html)

[2016-08-09 20:07] hsaliak commented on #233
@zinuga ping on this issue.  The contribution guidelines are still very generic.

[2016-08-09 20:07] hsaliak commented on #276
Closing, given #285

[2016-08-09 20:07] #276 closed

[2016-08-09 20:09] hsaliak commented on #246
@zinuga @david-cao what is remaining here for this to be integrated into our GA branch?

[2016-08-09 20:10] hsaliak commented on #237
Update: The only remaining merge is for C#, all other content should be in.

[2016-08-09 20:12] hsaliak commented on #236
#249 is merged, closing this issue.

[2016-08-09 20:12] #236 closed

[2016-08-09 20:12] hsaliak commented on #231
@zinuga I do not suppose this is in scope, removing GA milestone. Please re-add if necessary.

[2016-08-09 20:14] hsaliak commented on #228
Closing this since now links externally to brave-zipkin for gRPC.

[2016-08-09 20:14] #228 closed

[2016-08-09 20:16] hsaliak commented on #226
@zsurocking any update on this guide?

[2016-08-09 20:16] hsaliak commented on #230
@fengli-google have you had a chance to look into this?
@zinuga is P2 the right priority for this content?

[2016-08-09 20:17] hsaliak commented on #234
This should now be done.

[2016-08-09 20:17] #234 closed

[2016-08-09 20:17] hsaliak commented on #229
@zsurocking any update on this?

[2016-08-09 20:18] hsaliak commented on #179
@vjpai Ping on this issue -- could you please help with this section?

[2016-08-09 20:20] hsaliak commented on #173
I am going to drop this from the GA milestone, since this need not block the launch of the website.

[2016-08-09 20:20] hsaliak commented on #177
@zinuga I see that the presentations are updated, if you are happy with the current state, please close this issue.

[2016-08-09 20:21] hsaliak commented on #152
Dropping this from GA milestone since this need not block launch.

[2016-08-09 20:22] hsaliak commented on #235
@zinuga could you please update if the samples are already linked to or  send in the pull request to link to the right samples?

[2016-08-09 20:31] zinuga commented on #177
Closing since we have it done in the new GA branch.

[2016-08-09 20:31] #177 closed

[2016-08-09 20:34] zinuga commented on #230
yes, we can drop this from GA milestone.

[2016-08-09 20:45] #229 closed

[2016-08-10 01:25] nathanielmanistaatgoogle opened #296 "Strike "more reference documentation is coming soon""
Currently these words appear in at least the Python tutorial. I suspect they should all be struck before 1.0.0?

[2016-08-10 01:30] nathanielmanistaatgoogle opened #297 "Tutorial link to "the Python quick start guide" should link to new Tutorial on grpc.io, not old tutorial in grpc code repository"
The link at the bottom of [this section](https://github.com/grpc/grpc.github.io/blob/063f6be8c01a3377c4c2a5d724a32403bdb0751a/docs/tutorials/basic/python.md#example-code-and-setup). Also I think "quick start" is now one word in the new content?

[2016-08-10 03:49] hsaliak commented on #296
Agreed, we should strike out forward looking statements. They are better tracked in the issue tracker.
Assigning to @LisaFC

[2016-08-10 11:22] LisaFC commented on #296
Yes, I think most of them date from our first release when we had only the bare basics of documentation and we were emphasising how much more we were going to provide in future, they can definitely go now.

[2016-08-10 11:32] LisaFC commented on #297
Fixed in https://github.com/grpc/grpc.github.io/pull/300

[2016-08-10 11:32] #297 closed

[2016-08-10 14:37] #296 closed

[2016-08-10 21:05] zinuga commented on #235
https://github.com/grpc/grpc.github.io/pull/304 to address samples

[2016-08-11 21:43] ejona86 commented on #258
* [ ] For the final release, double check that Android helloworld points at the right place. It was moved post-pre2 when routeguide was added, so references to it have a high chance of being wrong (luckily, I don't think we have any references).

[2016-08-12 17:08] zinuga commented on #258
Fixed community page IRC link

[2016-08-13 01:11] zinuga commented on #233
https://github.com/grpc/grpc.github.io/pull/316

[2016-08-15 21:20] zinuga opened #317 "Add Java and Go to officially supported platforms"
Current table of officially supported platforms in /about does not mention Java and Go.

[2016-08-15 22:51] hsaliak opened #320 "python quickstart should mention installing Cython if a build is attempted."
Currently, a build is attempted if a binary package cannot be found for grpcio or grpcio-tools.

It can fail with the error that states that Cython is not found. We should acknowledge the possibility of this happening in the readme (perhaps in a troubleshooting section) and suggest ```pip install Cython``` and retrying if it happens

[2016-08-16 18:21] ejona86 commented on #209
This was fixed by #280.

[2016-08-16 18:21] #209 closed

[2016-08-16 18:35] kpayson64 commented on #320
#321

[2016-08-16 19:03] hsaliak commented on #235
Closing this since #304 is merged.

[2016-08-16 19:03] #235 closed

[2016-08-16 19:03] hsaliak commented on #233
Closing this with #316

[2016-08-16 19:03] #233 closed

[2016-08-16 20:10] zinuga commented on #246
Moved "How to Build" to gRPC docs section
https://github.com/grpc/grpc/pull/7751

[2016-08-16 23:24] hsaliak commented on #179
@adelez for Go, we will mainly be tracking master and will only have a release tag, so a dynamic performance dashboard on 1.0 is not meaningful there.
@nathanielmanistaatgoogle can you comment on the failed tests?

@vjpai ETA on the performance section?

[2016-08-16 23:35] adelez commented on #179
On Tue, Aug 16, 2016 at 4:24 PM, Kailash Sethuraman <
notifications@github.com> wrote:

I'll remove Go from the GA perf test and dashboard.

[2016-08-16 23:47] zinuga commented on #317
https://github.com/grpc/grpc.github.io/pull/323 fixes it.

[2016-08-16 23:52] #226 closed

[2016-08-17 00:32] nathanielmanistaatgoogle commented on #179
@hsaliak: not without more information. @adelez: do you have logs or output or anything else from the Python tests?

[2016-08-17 17:26] adelez commented on #179
The python tests are passing now.

On Tue, Aug 16, 2016 at 5:32 PM, Nathaniel Manista <notifications@github.com

[2016-08-17 21:30] #320 closed

[2016-08-18 21:42] hsaliak opened #330 "Colorize all logos"
Please colorize all logos from customers.

[2016-08-18 22:54] hsaliak commented on #317
Fixed.

[2016-08-18 22:54] #317 closed

[2016-08-18 22:54] hsaliak commented on #237
Fixed, all quickstarts are in. Closing.

[2016-08-18 22:54] #237 closed

[2016-08-18 22:56] hsaliak commented on #179
Fixed by #331

[2016-08-18 22:56] #179 closed

[2016-08-18 22:58] hsaliak commented on #258
Removed blog post sign ups.

[2016-08-18 23:21] ejona86 commented on #258
* [ ] `docs/guides/hello.md` has "This example is also part of Java gRPC's build" which is out-of-date

[2016-08-19 01:41] ejona86 commented on #258
Calling it done.

[2016-08-19 01:41] #258 closed

[2016-08-19 18:26] tengyifei opened #338 "Some pages are missing titles"
E.g. http://www.grpc.io/docs/quickstart/ has "grpc / Quick Start" as its title
but http://www.grpc.io/docs/quickstart/csharp.html has "grpc /"

All child pages in quick starts and tutorials have no title.

[2016-08-19 20:01] zinuga opened #344 "Add Android Java section"
We should add a android java section in "gRPC by language" as a separate entry with its own quickstart, tutorial and java api reference.

[2016-08-22 19:28] zinuga commented on #330
Done.

[2016-08-22 19:28] #330 closed

[2016-08-22 21:01] #344 closed

[2016-08-22 21:01] hsaliak commented on #344
Closed in #347

[2016-08-22 23:48] sackio opened #350 "Node.js - accessing peer certificate"
Is it possible to access the peer certificate information for a client in the Node.js module (i.e. checking the certificate properties of the client)?

I'm looking for something similar to the getPeerCertificate method for sockets in the TLS module (https://nodejs.org/api/tls.html#tls_tlssocket_getpeercertificate_detailed)

[2016-08-22 23:58] #350 closed

[2016-08-23 22:00] hsaliak opened #354 "Improve website accessibility"
Comment from reddit: "The font color of the main article text is very low-contrast. It definitely does not pass WCAG recommendations. Annoying to read at best and unreadable at worst.
After looking at it again the line-height is a bit small as well."

[2016-08-28 20:29] nathanielmanistaatgoogle opened #368 "Advanced example covering metadata, status code, status details?"
[Elsewhere](https://github.com/grpc/grpc/issues/4417#issuecomment-242994210) @anentropic writes that it's not obvious how to code for non-`OK` status codes. In particular I'm not sure we have anything describing how application-specific use of application-specified non-`OK` status codes should work.

Should non-`OK` status codes be covered in an "advanced" example beyond route guide?

[2016-08-28 20:39] anentropic commented on #368
For example: client calls a 'get detail' endpoint requesting an id which doesn't exist. What is the idiomatic grpc way to handle this?

[2016-08-29 05:38] anentropic commented on #368
Context: I have never used protobufs before.  I am converting an existing REST API to grpc.

What I feel would be useful is some design guidance and discussion of 'best practice' in building a grpc service.  At the moment the 'rules of the game' are not clear, they could be described up front.

For example:

- could not find how to do nullable field in protobuf3. This doesn't match the data model

[2016-08-29 16:33] ejona86 commented on #69
Since we've split out examples into their own build and changed the documentation to check out the latest release tag, this is no longer a problem.

[2016-08-29 16:33] #69 closed

[2016-08-29 16:33] ejona86 commented on #67
A link has been present for a while now (under "reference")

[2016-08-29 16:33] #67 closed

[2016-08-30 16:34] nathanielmanistaatgoogle opened #371 "Best message size for streaming large payloads?"
Our documentation (perhaps in an F.A.Q. or "best practices" section) should make clear into what size of messages a too-large-for-one-message value (such as a large video payload) should be broken up for streaming.

Spoiler alert: it's 16KiB - 64KiB, according to oral tradition.

[2016-08-30 17:56] zinuga commented on #371
PR to add this to FAQ?

On Tue, Aug 30, 2016 at 9:34 AM, Nathaniel Manista <notifications@github.com

--
"If you dont build your dreams, someone will hire you to build theirs"

[2016-08-30 20:58] vjpai commented on #371
Excellent suggestion. We should come up with the right answer for this
question too.

On Tue, Aug 30, 2016 at 10:56 AM Varun Talwar <notifications@github.com>
wrote:

[2016-09-02 21:55] shulegaa commented on #230
Please ...

[2016-09-02 21:55] clehene commented on #230
This may be relevant https://trac.nginx.org/nginx/ticket/923

[2016-09-02 23:20] zinuga commented on #230
@shulegaa we are in the process of submitting a 3rd party module in nginx for grpc support. we cant control the nginx core code or timeline for http/2 support. for now, if its critical for your needs, we can point you to a custom nginx binary where we have built support for grpc.(usable for testing/prototyping).

[2016-09-07 21:32] hsaliak opened #376 "Update nodejs quickstart to document static codegen path."
Now that gRPC.io 1.0 is launched, we can update our nodejs quickstart to document the static codegen facilities available.

Things needed:
- Explain how to install the grpc_node plugin. Add readme for grpc-tools
- Explain how protoc and the grpc plugin that ships with grpc-tools static code can be used to generate code.

@LisaFC not sure if this is something you can pick up given that we have an e

[2016-09-07 21:35] hsaliak commented on #376
Issue for readme: grpc/grpc#8025

[2016-09-08 01:05] shulegaa commented on #230
Do tell!  Please.  I'd be very interested in seeing what you've done.  Depending on timing, we may go down a similar path.  Long story.

[2016-09-09 15:32] nathanielmanistaatgoogle opened #380 "Document application best practices for user-agent"
Applications can customize the `user-agent` header that will be used with their RPCs (by means of channel arguments in the core-wrapping languages), but we offer no guidance on what applications _should_ do. `grpc.primary_user_agent` and `grpc.secondary_user_agent` are different things, and each can be specified multiple times in a single `grpc_channel_args` value; what does that all mean?

Also i

[2016-09-12 07:01] wangming1993 commented on #230
I use nginx1.10 which support http2 as grpc server, then go grpc client send a request to server,
from nginx debug log, I find such message:
[code]

nginx can receive the connection preface starts with the string `PRI * HTTP/2.0\r\n\r\nSM\r\n\r\n)`, but it send a **RST_STREAM** frame, and refuse to accpet any request.

When I use go http2 to send a http request, the nginx can response succeed.   S

[2016-09-15 04:04] daschwanden commented on #230
@zinuga could you please also point me to your 3rd party nginx moduel for grpc support? thanks

[2016-09-15 18:07] fengli79 commented on #230
Nginx today doesn't support HTTP2 as upstream, so you cannot use it as a L7 proxy for GRPC. Instead you can use it as a L4 proxy.

For the RST_STREAM issue, it's a know regression in nginx.
https://trac.nginx.org/nginx/ticket/959

[2016-09-25 14:33] Gurpartap opened #389 "*.css *.js getting blocked #macOS #ios"
![screen shot 2016-09-25 at 8 02 56 pm](https://cloud.githubusercontent.com/assets/39792/18815902/1637a488-835b-11e6-9be7-bac80018e1c4.png)

[2016-09-25 14:34] Gurpartap commented on #389
![screen shot 2016-09-25 at 8 03 54 pm](https://cloud.githubusercontent.com/assets/39792/18815905/33fa4ff2-835b-11e6-8fbd-183e6ec11d69.png)

[2016-09-25 14:36] Gurpartap commented on #389
The desktop is running wired ISP different from the 4G on iPhone. Probably not ISPs anyway.

I don't know what to infer from the web inspector error console.

[2016-10-04 17:44] pcj opened #396 "Blog theme does not work well with full GFM markdown"
@hsaliak @zinuga The merge of https://github.com/grpc/grpc.github.io/pull/369 does not look good with this jekyll theme.

Let's revert this, then create a summary statement for the blog that points to the grpc_greetertimer repo and people can continue to read there.  What do you think?

[2016-10-04 17:49] hsaliak commented on #396
@pcj i am working on a PR to fix this. There is an underlying problem with the markdown.
I will send a PR to remove this file but will follow up with an update that solves this problem.

[2016-10-04 17:50] hsaliak commented on #396
@pcj it actually works ok when you click through to the 'Read more' but the main page has broken rendering.

[2016-10-04 17:52] pcj commented on #396
Pretty much, yes.. A few issues

1. Title looks redundant
2. Image links broken.
3. Date is Sept 6

[2016-10-04 17:53] hsaliak commented on #396
Image links do not seem to work across repos. I will move it to my current repo.
The date is keyed off the file name, so I will git mv it.
The numbering is formatted poorly and the links in the title break the main page too..

[2016-10-04 17:57] pcj commented on #396
There is also no link the repo with the sample code: https://github.com/pubref/grpc_greetertimer

[2016-10-04 18:32] pcj commented on #396
OK, that looks better.  Shall I submit a new PR for updated content?  I see two options:

1. Redo the post as a short summary with link to main content (as a README in the [grpc_greetertimer repo](https://github.com/pubref/grpc_greetertimer) github repo).

2. Adapt the full post to look better with your theme.

[2016-10-04 19:48] hsaliak commented on #396
@pcj I have a PR on the way that does this.. I made slight modifications. I also added the  tag so that the post clicks through to the fully expanded post so we do not have to wrestle with the formatting too much.

The main blog page will look like the attached image.
![image](https://cloud.githubusercontent.com/assets/150108/19089817/c44ccbe4-8a30-11e6-8035-7595734cf327.png)

[2016-10-07 06:24] u007 opened #401 "protoc missing?"

[2016-10-13 00:07] tadeegan opened #405 "Samples" are highlighted incorrectly"

[2016-10-13 00:08] tadeegan opened #406 ""Samples" link is highlighted incorrectly"
When I click the references tab I also see the "Samples" link seems to be selected.

[2016-10-13 18:18] #396 closed

[2016-10-24 13:21] sherdeadlock commented on #376
`examples/node/static_codegen/README.md` is not work for me.

This is my solution.
Run commands in `examples/node`
* $ npm install grpc-tools
* codegen

[code]

[2016-10-24 13:43] LisaFC commented on #376
Should we document both approaches in the Quickstart or just mention the static option?

I know in the Tutorial we just use the dynamic model and mention the static version in the intro: http://www.grpc.io/docs/tutorials/basic/node.html#example-code-and-setup

Also do we currently recommend one approach over the other?

[2016-10-25 22:57] markmandel commented on #376
I would lean towards only showing the canonical way of generating code, which I assume is through the tools exposed through the grpc-tools node package.

[2016-10-26 02:01] nevernet opened #414 "it's very strange of generate php grpc client code"
current version of protoc-gen-php plugin is only support to generate proto3 file

content of proto file:
[code]

generated php file:
[code]

but the origin pb.php file from github repository is:
[code]

where is wrong?  please advice.

thank you
Daniel

[2016-10-26 02:12] nevernet commented on #414
sorry for wrong issue

[2016-10-26 02:12] #414 closed

[2016-10-30 08:33] ynezz commented on #230
@zinuga Hi, I'm also considering grpc and nginx for my next project. Can you please kindly share the source code of that nginx module? I'm not interested in binary blobs :-) Thanks!

@fengli79 BTW that [https://trac.nginx.org/nginx/ticket/959](NGINX RST_STREAM regression) seems to be fixed.

[2016-11-02 18:58] aurelienrb opened #415 "C++ tutorials are pointing to v1.0.0 which does not build"
Hello,

Following the discussion [here](https://github.com/grpc/grpc/issues/8606), I followed the instruction on the website to build and use grpc++. I spent almost 2 days struggling with linker errors before finding that the issue is in grpc++ itlsef and learning that the v1.0.0 just can't be built successfully.

In other words, if a beginner follows the instruction on the website, (s)he will fai

[2016-11-03 02:14] tr33house commented on #65
it looks like this issue has since been resolved. I don't see any errors.
![screencapture-grpc-io-docs](https://cloud.githubusercontent.com/assets/1892888/19953961/9e5ade8c-a130-11e6-9635-2e410014c817.png)

[2016-11-03 02:15] tr33house commented on #65
proposing that we close this issue

[2016-11-28 14:53] hsaliak commented on #415
@aurelienrb thanks for flagging this. It's a valid problem with a simple fix. @LisaFC would you be able to pick this one up?

[2016-11-28 14:55] hsaliak commented on #406
Should be addressed by #426 as well.. so closing. Thanks for the PR and issue!

[2016-11-28 14:55] #406 closed

[2016-11-28 14:56] hsaliak commented on #405
Should be fixed by #426

[2016-12-09 01:48] tbillington opened #431 "Php quickstart ubuntu doesn't work"
In the php quickstart, the ubuntu instructions don't work for recent versions of ubuntu http://www.grpc.io/docs/quickstart/php.html#debianubuntu.

php5 is no longer a system installable package by default. Could there be an ubuntu version added to the instructions or an alternate php5 source ?

[2016-12-12 05:07] nevi-me commented on #368
I've looked at the Node.js source to see how status messages are constructed. I'm going to do the same later today for Java and Python. I've so far only used gRPC on those 3 languages (Java on Android and Netty), so I can contribute with either a blog post or by submitting a PR to this repo. Hopefully other people can do the same for languages that they've used.

[2016-12-19 00:21] tbillington opened #433 "grpc.io https"
When I try to visit https://www.grpc.io/ or https://grpc.io/ I'm getting `net::ERR_CERT_COMMON_NAME_INVALID`.

Seems https isn't working for the website.

[2016-12-22 22:20] nathanielmanistaatgoogle commented on #81
@soltanmm-google: what would it take to change our docs to say "the gRPC Python authors" in this way?

[2016-12-23 01:27] soltanmm commented on #81
Our docs? As in these here: http://www.grpc.io/grpc/python/ ?

[2016-12-23 02:30] nathanielmanistaatgoogle commented on #81
@soltanmm-google: yes, see at the bottom where it says "© Copyright 2016, Author."?

[2016-12-29 22:26] stanley-cheung opened #436 "PHP: add section to warn first time users on OSX El Capitan"
For first time users on OSX El Capitan, users might need to perform a few extra steps before they can install pecl, the PHP extensions repository that can install our gRPC PHP extension. We should call this our in our doc.

Relevant blog post: http://blog.g-design.net/post/137712472685/configuring-apache-and-php-after-updating-to-os-x

[2016-12-29 22:27] stanley-cheung opened #437 "PHP: call out the need to add "extension=grpc.so" to php.ini in our docs"
After the user installed our gRPC PHP Extension via the "pecl install grpc" command, the user still needs to add a line "extension=grpc.so" to their respective php.ini config file. We should call this out in our doc.

[2016-12-30 17:53] ksinica commented on #401
Hi, have you tried to download Protocol Buffers latest release (https://github.com/google/protobuf/releases)?

[2017-01-02 17:09] cliffbdf opened #438 "Where is the language reference or grammar for a service definition?"
It would be really helpful to have a normative reference for service definitions. Thanks!

[2017-01-05 21:38] hsaliak commented on #415
@LisaFC ping

[2017-01-05 23:10] hsaliak commented on #438
@cliffbdf could you elaborate further?  We currently support the use of protocol buffers to define gRPC services and their documentation is here: https://developers.google.com/protocol-buffers/docs/proto3

Is that what you were looking for? Could you provide more details around what you are looking for?
If it is indeed the documentation for procol buffers, how / where can we link to it more promin

[2017-01-05 23:11] hsaliak commented on #433
@tbillington we host the site off github pages, and this is a known issue with serving github pages off custom domains.

[2017-01-05 23:11] #405 closed

[2017-01-05 23:16] cliffbdf commented on #438
Yes, I saw that, but messages are only part of a service specification - I was not able to find a normative reference for a service definition, including the methods that it defines.

Best regards,

Cliff

[2017-01-05 23:26] hsaliak commented on #438
There is a small section on defining services here:
https://developers.google.com/protocol-buffers/docs/proto3#services
But i do agree that it is barebones and does to pass as normative.

https://github.com/grpc/grpc/tree/master/examples/protos has proto examples that you can refer in the meanwhile..

Would updating and improving the section above to ensure that it is normative resolve your concer

[2017-01-06 00:00] cliffbdf commented on #438
Actually I did not see that - since protocol buffers is the underlying transport for gRPC, it is unexpected that service definitions would be documented in Protocol Buffers. But the guide is decent. Still, it leaves questions unanswered that a normative definition/guide would: e.g., in some examples I have seen, there are curly braces {} following an rpc prototype, but the example in the guide doe

[2017-01-06 12:01] LisaFC commented on #415
Sorry this fell off my to-do list, I can fix it today - should we update the global release value for the site to 1.0.1? Will that work for all language implementations?

[2017-01-19 00:15] hsaliak opened #441 "Provide example documentation around the use of deadlines in gRPC"
This should cover common questions such as:
- How to use it? What is the provided API?
- How do I specify the deadline? Common patterns in doing this.
- What happens when deadline is reached and how do I handle such exception/error?
- Error/Exception handling for deadlines?
- Patterns on cancelling in-progress tasks when deadline is reached? How do I receive this notification and cancel server tas

[2017-01-19 00:16] hsaliak opened #442 "Provide examples and documentation around failure handling"
Failure handling (both client-side and server-side)
- How do we handle different types of failures, including connection errors, and/or dropped streaming connection?
- How to deal with dropped connections?
- Who handles the connection resumes? Does gRPC magically resumes the connection for me? If so, is there a retry configuration?
- Connection retry and backoffs - how does that work and how can y

[2017-01-19 00:19] hsaliak opened #443 "Context Propagation in Java"
Provide documentation around Context propagation

- I want to propagate user credential/token across multiple calls
- I want to propagate trace ID of some sort across multiple calls
- Does it only propagate one way down the calls?
- How is it different from metadata?
- Context = in-process

Currently marking this as Java only since the mechanisms are slightly different across the runtimes. For exa

[2017-01-19 00:20] hsaliak opened #444 "Document exception propagation in Java"
Exception Propagation
- How can a Java runtime exception be properly marshalled and propagated to the consumer?
Common Questions:
- Is there a generic marshaller that can propagate Java exceptions?
- If not, how can I implement a generic interceptor for my exceptions?
- Is it better to throw the exception or have an error status return payload?
- What happens when you throw an uncaught exception a

[2017-01-19 00:42] hsaliak opened #445 "Document gRPC Metadata model and APIs"
Common Questions:
- What's a use case for metadata? Some examples where this is used, eg auth.
- How do I add metadata? What API to call?
- What are the payloads of metadata? String only, or can it be PB definitions?
- How is it different from Context Propagation?

- [ ] Java
- [ ] C/Core based Wrapped language
- [ ] Go
- [ ] All languages

[2017-01-19 00:45] hsaliak opened #446 "Document the state of flow control mechanisms in gRPC"
Flow Control
We often speak of gRPC taking advantage HTTP/2 flow control. How do we actually use this and what is the current state of this in the 3 different implementations?

Common Questions:
- How do I invoke flow control?
- How do I configure basic parameters, e.g., RPS?
- How do I enforce throttling?

This can be a high level document with 1 language as an example (while discussing at a high

[2017-01-20 14:46] tinproject opened #447 "Use bigger font-weight."
Ultra-thin fonts do not render properly on normal screens, here is an example.
![grpc](https://cloud.githubusercontent.com/assets/3742174/22153376/60610d9c-df27-11e6-9ed6-73776fba5a9e.png)
Please increase the `font-weight` at least to 400 to ensure that the web-page could be readed.

[2017-01-25 06:32] hoswey commented on #230
@zinuga could you please also point me to your 3rd party nginx module for grpc support? thanks

[2017-01-26 19:38] jimbojetlag commented on #368
@nathanielmanistaatgoogle any updates on this?

Or, at least, any advice on how to implement this?

Google's own usage of grpc does not seem to have a clear pattern on how to cover errors, [for example](https://github.com/googleapis/googleapis/blob/master/google/example/library/v1/library.proto#L39):

[code]

It simply returns `Shelf`, and is absolutely unclear what to return when there is an erro

[2017-01-26 20:51] nevi-me commented on #368
Hey @jimbojetlag, I've added an example of how to send error messages with metadata. The example is in Java/Kotlin, and it includes both string and binary metadata. I hope it helps. You can find it here: https://github.com/nevi-me/grpc-demos/commit/71a3cc9df17550675986c7dc6da6ca759f340468?diff=unified

It's quite late here in SA, but I'm going to have some downtime over the weekend, I'll try compl

[2017-01-26 21:14] nevi-me commented on #368
@nathanielmanistaatgoogle with some guidance, I'm happy to add some details on a few languages.

I'm still yet to figure out how to send trailers with streaming requests and responses (I presume before/with `onCompleted`), but I'll read through the Nodejs and Java docs. I tried implementing a streaming service on Python at work this week, but struggled a bit.

[2017-01-26 21:19] jimbojetlag commented on #368
@nevi-me I cannot find anything about non-`OK` proto message in your repo. I'm only interested in the original question in this thread. How to deal with non-`OK` cases at the protobuf level?

Again, in the context of:

[code]

How do you define a message when there is an error in the implementation of `CreateShelf`?

[2017-01-26 21:42] jimbojetlag commented on #368
@nevi-me I'm not sure if this makes a difference, but unlike your example, the Shelf example does not return a stream.

Also, I'm still unsure about how this works. `CreateShelf` rcp return the `Shelf` type. How you send a different type as the response?

[2017-01-27 01:32] jimbojetlag commented on #368
Here is a live working example to demonstrate the question:

Google genomis API has [this endpoint](https://github.com/googleapis/googleapis/blob/master/google/genomics/v1alpha2/pipelines.proto#L41-L43):

[code]

Now try this endpoint in your browser:

https://cloud.google.com/genomics/reference/rest/v1alpha2/pipelines/create

Without signing in, this is the response that I get:

[code]

**Here is

[2017-01-27 03:03] nevi-me commented on #368
That's because that the RPC returned an `onError`, which is populated with the detail. Please at least clone the repo and try out the code  that I shared, because that answers your question.

If there is an error, you respond with `onError` instead of `onNext`. If you're using Nodejs for example, your unary responses are in the signature `callback(err, message)`, so if you populate the error messa

[2017-01-27 15:24] jimbojetlag commented on #368
@nevi-me thanks for explanation. I am interested in Go implementation, here is [an example](https://github.com/grpc/grpc-go/blob/master/examples/helloworld/greeter_server/main.go#L53-L56):

[code]

This rcp can _only_ return `pb.HelloReply` type. Of course you can return an error too, but that error will not be passed to the client, it's only for the server side check. The only structure that can

[2017-02-03 00:21] nathanielmanistaatgoogle commented on #81
This was fixed in [grpc/grpc pull request 9203](https://github.com/grpc/grpc/pull/9203) and released in [the 1.1.0 documentation](https://github.com/grpc/grpc/pull/9565).

[2017-02-03 00:21] #81 closed

[2017-02-03 03:42] mohanraj-r opened #451 "Broken link: from Benchmarking site to master dashboard"
file: https://github.com/grpc/grpc.github.io/blob/master/docs/guides/benchmarking.md, [corresponding html page](http://www.grpc.io/docs/guides/benchmarking.html)

Link "Multi-language performance dashboard @master" refers to https://performance-dot-grpc-testing.appspot.com/explore?dashboard=5760820306771968 which shows an empty page with warnings : "No dashboard with ID 5760820306771968 was found.

[2017-02-05 19:34] gedex opened #452 "PHP Quickstart: Missing closing code block"
In http://www.grpc.io/docs/quickstart/php.html#install-protobuf, the code block at the end of **Install Protobuf** is not closed properly after change on https://github.com/grpc/grpc.github.io/commit/d10ea957d742deb60a739c829a4e3234b1e8f052.

[2017-02-06 07:41] #452 closed

[2017-02-07 14:47] amitripshtos commented on #230
Much needed feature indeed, I saw some posts on the internet talking about ngx_stream_core_module

[2017-02-09 19:06] #431 closed

[2017-02-09 19:06] #436 closed

[2017-02-09 19:06] #437 closed

[2017-02-14 21:17] jcking opened #458 "Update Node.js minimum version"
See https://github.com/grpc/grpc/pull/8895 and https://github.com/grpc/grpc/issues/9707.

[2017-02-22 23:13] ejona86 opened #462 ""Overview" in quickstart/tutorials seems to link to wrong page"
There are many references to "Overview" which link to [docs](http://www.grpc.io/docs/). However, they are in sentences like "Read a full explanation of this example and how gRPC works in our Overview" and "It assumes that you have read the Overview and are familiar with protocol buffers". That makes me think it used to point to the [guides](http://www.grpc.io/docs/guides/index.html), which provide

[2017-02-23 15:11] cliffbdf commented on #438
Hi Kailash - has the protoc compiiler been changed to generate different output?

When I run it,

protoc —java_out=my_dir TaskEngine.proto

with this proto file (TaskEngine.proto),

syntax = "proto3";

option java_multiple_files = true;
option java_package = "scaledmarkets.piper";
option java_outer_classname = "TaskEngine";

package piper;

service TaskEngineServant {
    rpc ping(Request) returns

[2017-02-23 16:27] ericgribkoff commented on #438
You need to tell protoc about the gRPC Java plugin in order to get the `TaskEngineGrpc.java` output.

From the `grpc-java/compiler/` directory, run this to generate the plugin:

`../gradlew java_pluginExecutable`

And invoke with:

`protoc --plugin=protoc-gen-grpc-java=/path/to/grpc-java/compiler/build/exe/java_plugin/protoc-gen-grpc-java   --grpc-java_out=.  "TaskEngine.proto"`

See https://githu

[2017-02-23 18:37] cliffbdf commented on #438
Thanks for this info. I would not have looked there. But the build of the plugin failed on my Mac. The error was,

/Users/cliffordberg/Library/grpc-java-1.1.2/compiler/src/java_plugin/cpp/java_generator.h:8:10: fatal error: 'google/protobuf/io/zero_copy_stream.h' file not found

It might be good to publish the binary with each release of the plugin, so that users of the compiler don’t have to buil

[2017-02-23 19:10] ericgribkoff commented on #438
What version of protoc is installed? (`protoc --version`). It's also possible you need to specify the search paths for header files and libraries, see https://github.com/grpc/grpc-java/blob/master/COMPILING.md#mac.

[2017-02-23 21:32] cliffbdf commented on #438
protoc version:
libprotoc 3.1.0

I tried setting CXXFLAGS and LDFLAGS as in the notes for mac, but still an error. I am using El Capitan (OSX 10.11.6) - please seel below.

Would you be able to upload a binary for the release? Or send me one? Right now the release only contains a zip of the source code.

Clifford-Bergs-MacBook-Pro:grpc-java-1.1.2 cliffordberg$ ../gradlew java_pluginExecutable
-bas

[2017-03-01 14:33] c14016057 opened #466 "Clone Failed in Install gRPC step"
http://www.grpc.io/docs/quickstart/cpp.html

In the Install gRPC step, I use the install command as follows:

[code]

then, I open directory `grpc/third_party/protobuf` and found that it is an empty folder.

I think that the command should change to

[code]

[2017-03-01 16:48] ncteisen commented on #466
Just put in a PR to make the docs more specific

[2017-03-01 18:27] #466 closed

[2017-03-02 22:54] cliffbdf commented on #438
Hi -

Will it be possible to post a binary build of protoc for the Mac?

Very best,

Cliff

[2017-03-06 07:25] c4milo commented on #173
Any update on this?

[2017-03-08 00:08] menghanl opened #471 "Update release version in config.yml"
It's pointing to v1.0

https://groups.google.com/a/google.com/forum/#!topic/grpc-users/2lYwHNxtIPc

[2017-03-08 03:01] iislucas opened #472 "Links to examples in the nodejs docs are broken"
In:
https://github.com/grpc/grpc.github.io/blob/master/docs/tutorials/basic/node.md

The links to example code seems to be broken: https://github.com/grpc/grpc.github.io/blob/master/docs/tutorials/basic/node.md#defining-the-service
and
https://github.com/grpc/grpc.github.io/blob/master/docs/tutorials/basic/node.md#creating-the-server
and
https://github.com/grpc/grpc.github.io/blob/master/docs/tuto

[2017-03-14 14:43] xiaoyunwu commented on #230
@zinuga same here

[2017-03-14 20:28] amitripshtos commented on #230
I went a bit of exploring and understood it better, and created a load balancer that balance automatic using docker + consul:
https://github.com/amitripshtos/grpc-docker-lb

i'm using nghttp2 for this one, by the way

[2017-03-25 03:07] mehrdada commented on #471
PR #475 is merged at this point and points `/release` to 1.2.0, but we really need to put it in an automated script so as to not miss it, so I am keeping the issue open.

[2017-04-09 19:09] davissp14 opened #488 "Ruby: Bidirectional Stream Example"
Link: https://github.com/grpc/grpc/issues/10526

[2017-04-10 17:37] timburks opened #489 "Document gRPC and Protocol Buffer features that support HTTP transcoding"
The ability to map gRPC services to REST-like APIs is a very useful feature and design pattern. It allows developers to focus on building a gRPC service that in many ways matches the procedural way their software already works, while still providing a path for users to use JSON/REST when they prefer it.

I would like to be able to promote this by pointing people to reference documentation that des

[2017-04-10 17:41] timburks opened #490 "Document a procedure for CURLing gRPC Services"
This might be painful, but I think that it's important to present a low-level way to exercise gRPC APIs. This will build trust in gRPC and help people write gRPC clients and servers for platforms and environments that aren't being supported.

[2017-04-10 18:03] LisaFC commented on #489
The standard mapping used by Endpoints (and indeed inside Google) is documented in more detail in the [API Design Guide](https://cloud.google.com/apis/design/), which we should also at least link to - it already links back to grpc.io.

[2017-04-11 12:05] LisaFC commented on #489
Would a good approach be to add a document called Integrating With Other Systems or similar, and then adding a HTTP/JSON Transcoding section (or just have a separate Transcoding concepts doc if this is substantial enough) that tells users:

- Some reasons why people do this/this is feasible (eg gRPC uses HTTP2 so your application can expose both REST/HTTP1.1 and RPC interfaces on the same port)
-

[2017-04-12 17:13] zinuga opened #491 "Document on how to use various forms of LB with gRPC"
Document how to use
- classic proxy based LB with gRPC. L4 and L7
- client side LB.
- grpc-lb flavor

[2017-04-13 13:02] ggaaooppeenngg commented on #230
@zinuga  same here, it seems nginx supports HTTP/2, but not sure any example we can check?

[2017-04-14 16:19] timburks commented on #489
It seems likely that there will be multiple transcoding implementations used within Google (if there aren't already) and third-party implementations seem likely, so defining the mapping in an implementation-independent way would help maintain consistency, and that would benefit gRPC users.

I'd pose this as "Write a gRPC interface, get a free REST API" through standard mappings that are defined as

[2017-04-14 23:05] timburks commented on #489
Here's a [draft](https://github.com/grpc/grpc.github.io/wiki/Mapping) that I wrote by starting with the comments in [http.proto](https://github.com/googleapis/googleapis/blob/master/google/api/http.proto) and trying to approach the point of view of REST API authors.

[2017-04-20 12:36] LisaFC commented on #489
I like that, though I'm not sure about duplicating content from http.proto, which is already web-page-i-fied, eg, here: https://cloud.google.com/endpoints/docs/grpc-service-config/reference/rpc/google.api#google.api.Http. That's in the Endpoints docset but we could also add that generated content with some context to the end of the style guide/the APIs docset if the rest of the team are happy with

[2017-04-20 15:27] LisaFC commented on #489
Or we might be able to generate content from http.proto without the Cloudsite templating and put it in grpc.io, though that might be a bit fiddly.

[2017-04-20 22:26] timburks commented on #489
Other structures for this would be fine, but after rereading my draft I don't think the draft goes far enough in empathizing with REST service creators. That explanation (and any other based on http.proto) starts with a gRPC service definition and derives an HTTP service. I think that if we started an in-person presentation to REST developers like that, they would leave immediately.

I think it wo

[2017-04-21 14:32] LisaFC commented on #462
Fixed in https://github.com/grpc/grpc.github.io/pull/485, will close when it's merged.

[2017-04-21 14:33] LisaFC opened #495 "Add search box to grpc.io"
What it says up there.

[2017-04-21 14:38] LisaFC commented on #495
This should be simple enough: http://lcarey0-l.dub.corp.google.com:4000/grpc.github.io/docs/search/?q=streaming

Though now to make the search box look less weird. We also presumably don't want ads on it, so will need to sort out the premium version.

[2017-04-21 15:41] #462 closed

[2017-04-28 15:54] ejona86 opened #500 "grpc-web interest link only works for Googlers?"
At http://www.grpc.io/faq/ for "Can I use it in the browser?" there is a link for registering interest in grpc-web. Apparently, it is only displaying the form for Googlers. I feel like it used to work.

Given the recent post/publicity about grpc-web many people are probably being confused.

[2017-04-28 16:03] wenbozhu commented on #500
@zinuga

[2017-05-04 16:21] hsaliak opened #504 "Review and address any issue in route_guide server tutorial for ruby"
Based on #501 which was filed as a pull request.

[2017-05-08 21:45] dapengzhang0 opened #508 "Create OSS java generated code guide"
at `docs/generatedcode/` and link it in docs/index.html

[2017-05-11 20:52] #458 closed

[2017-05-22 19:55] rakyll opened #520 "Publish production-readiness guide"
The gRPC website is a mix of development-time and production-time guidelines. It is not possible to foresee/understand the critical aspects of deploying and maintaining a gRPC production service. Users are expected to fill the gaps themselves and bring their previous knowledge to find solutions to some very commonly required problems.

In order to guide the users, have a top-level breakdown of dev

[2017-05-22 21:25] rakyll commented on #520
I am going to close this issue for now and will follow-up with a more concrete plan.

[2017-05-22 21:25] #520 closed

[2017-06-02 03:12] idevz commented on #230
@zinuga same here, thanks.:)

[2017-06-07 18:28] siacomuzzi commented on #230
@zinuga same here (https://github.com/grpc/grpc/issues/11427)

thanks!

[2017-06-07 22:48] bshaffer opened #524 "Add PHP Benchmarking for Client Side calls"
We can benchmark the PHP gRPC client and document the performance improvements.

[2017-06-08 01:47] zinuga commented on #230
based on this https://github.com/grpc/grpc/issues/11427, it is matter of a few weeks now before its upstreamed. credit @PiotrSikora. once done, @LisaFC can help with doc on how to use.

[2017-06-12 18:08] hsaliak opened #528 "Fix blog post TOC formatting"
The TOC for the blog post is broken with the latest post.
We need to fix this, might be good to look at how the posts could be layed out. Ideally, we just want a single listing of all the posts published so far  to help visibility.

[2017-06-12 20:12] LisaFC commented on #528
I think the TOC currently is how it's always been set up to look, it's just the standard "pulls all the headings from the page and makes a TOC" script - it's just more obvious because that blog post has loads of headings. If we want a TOC of all the blog posts we'll have to do something custom. Let me take a look.

[2017-06-12 20:39] LisaFC commented on #528
We're also showing the entirety of the most recent blog post on the blog index/landing page, I don't know do we want to continue to do this?

[2017-06-12 20:40] hsaliak commented on #528
I do not think we should do that. We should only show a snippet followed by
"Read More' so that the list of all available blog posts show up.

On Mon, Jun 12, 2017 at 1:39 PM, LisaFC <notifications@github.com> wrote:

[2017-06-12 21:29] LisaFC commented on #528
As far as I can tell from reading about the pagination plugin, because we've set an excerpt separator in the _config file, you need to actually add it to the doc where you want it to stop pulling out content for the excerpt - it's why we're currently getting the entire post.

We can also change the pagination settings so that more posts appear on the landing page (currently it's only two), and I t

[2017-06-12 21:33] LisaFC commented on #528
Here's what it looks like with a shorter snippet

There's no TOC because there aren't any headings in the snippets.

[2017-06-12 21:48] LisaFC commented on #528
Now has a list of blog posts on the right. Not entirely sure how I feel about it, I wonder would we be better without a toc at all.

[2017-06-19 14:22] vjpai commented on #524
I have written a QPS Benchmark for this client, but have not had the time to automate this testing yet. Benchmark is in the repo.

[2017-06-20 15:33] bshaffer commented on #524
Can you elaborate on this? There is no PHP benchmarking in the repo [AFAIK](https://github.com/grpc/grpc.github.io/blob/master/docs/guides/benchmarking.md).

[2017-06-20 15:49] vjpai commented on #524
The PHP benchmark is a little different from the others because all the benchmarks are designed as servers (as you saw in the benchmarking guide.), which we don't support for PHP. The [PHP benchmark code](https://github.com/grpc/grpc/tree/master/src/php/tests/qps) implements the actual benchmarking client and can be used for single-channel unary or streaming ping-pong tests. The QPS worker service

[2017-06-22 14:06] LisaFC commented on #528
Pingity ping?

[2017-06-27 19:57] hsaliak commented on #528
Sorry for the delay -- the example cited looks really good, shall we go ahead and do that?

[2017-06-28 13:33] LisaFC commented on #528
Sure!

[2017-07-05 17:59] hsaliak commented on #528
http://www.grpc.io/blog/ looks really good now, closing this issue!

[2017-07-05 17:59] #528 closed

[2017-07-12 21:17] #508 closed

[2017-07-16 01:48] jrmiller82 opened #545 "Need go examples on auth.md"
I'm having much more trouble than I should be having figuring out how to get simple server-side TLS going with go (golang). Can someone add a a few snippets? Thanks.

[2017-07-21 16:35] siacomuzzi commented on #230
There are some fixes provided by @PiotrSikora in the latest versions of nginx (http://nginx.org/en/CHANGES):

[code]

Do you know if we can use gRPC with nginx now?
Thanks!

[2017-07-21 23:41] PiotrSikora commented on #230
@siacomuzzi unfortunately, those are only prerequisites and bugfixes for existing HTTP/2 server-side code. HTTP/2 to backends is still pending review / merge.

[2017-07-23 18:35] natemurthy commented on #443
I'ld also like to see some documentation around best practices for in-process context propagation for the Java gRPC library. Here is some existing literature on the subject:

- https://github.com/opentracing/specification/issues/23
- https://github.com/uber/jaeger-client-java#in-process-context-propagation

[2017-07-26 15:59] apolcyn commented on #504
#501 fixed, the doc/example seems to work now

[2017-07-26 15:59] #504 closed

[2017-08-04 21:30] pulkitsharma07 commented on #415
@LisaFC, @aurelienrb I think this issue can be closed, as the documentation no longer specifies a particular version to clone.

[2017-08-16 15:41] DazWilkin commented on #182
I Google-found an excellent (clear, works) example in Python written by the folks at sandtable:

http://www.sandtable.com/using-ssl-with-grpc-in-python/

I second @LisaFC request for comprehensive client and server samples: TLS and token-based.

This is important to use correctly, will be boilerplate and saves developers from creating their own, possibly incorrect implementations. Someone from the

[2017-08-21 21:59] jpitz opened #555 "Blog navigation assumes no headers will be present "above the fold""

[2017-08-21 22:24] jpitz commented on #555
Nvm. I'll have to look into this some more. Looks like the solution you pushed resolved for now. Trying to understand what jekyll is doing under the hood that causes this

[2017-08-22 11:11] LisaFC commented on #555
I think the  (excerpt separator) section is less a workaround and more how Jekyll actually expects you to write blog posts - the idea is that you get snippets of blog posts on the blog landing page and then click on them to get the full post, not that the blog landing page has entire posts (which is what you get without the separator). This is from Jekyll's instructions on writing a post:

https:/

[2017-08-22 14:42] jpitz commented on #555
Alternatively we can use bold text instead of headings. From the sounds of it though, we can probably close this as fixed then. I'll add the \ syntax to my template.

[2017-08-22 14:49] jpitz opened #556 "_config.yml missing plugin for jekyll-pagination"
When running locally with `bundle exec jekyll serve`, the blog index page fails to generate without this plugin definition.

[2017-08-22 20:41] hsaliak commented on #555
We pretty much hit this every blog post.. or maybe I do. The  does not work with spaces in between, like a normal html comment, so this is flaky.

[2017-08-22 20:43] hsaliak commented on #555
@LisaFC is there any good jekyll linter you are aware of? If we can identify one, it may be worthwhile to enable it as a presubmit hook.

[2017-09-10 17:55] nathanielmanistaatgoogle commented on #368
This is no longer a question; this is something we should do in our set of examples.

[2017-09-12 11:42] dyadaval commented on #230
Hello wangming1993, PiotrSikora

Could you please share the working nginx.conf. We are seeing that our nginx h2 proxy(taken from PiotrSikora github) is not forwarding to gRPCServer.  our conf file part looks below:
    server {
    listen 8443 ssl http2;
    listen [::]:8443 ssl http2;
    ssl_certificate /f0/base/nginx/ssl/certs/server.crt;
    ssl_certificate_key /f0/base/nginx/ssl/private/serve

[2017-09-27 20:39] vjpai commented on #524
Fixed by grpc/grpc#12682. PHP unary and streaming latency numbers (against a C++ server) are now reported on the multi-language dashboard at https://performance-dot-grpc-testing.appspot.com/explore?dashboard=5652536396611584

[2017-09-27 20:39] #524 closed

[2017-10-10 17:01] ejona86 commented on #545
It seems Go is missing from https://grpc.io/docs/guides/auth.html

[2017-10-11 07:19] netroby opened #579 "Missing php code gen tool install guide"
Missing php code gen tool install guide
The section : Generating client code

https://grpc.io/docs/tutorials/basic/php.html#generating-client-code

Missing how to install php code gen tool.

https://github.com/grpc/grpc/issues/12714

And the generate command not working at all.

[2017-10-14 21:21] asinha08 commented on #230
what is the update on using nginx with grpc?

[2017-10-15 00:43] dyadaval commented on #230
No, was not lucky with the patch to get it working. You can use haproxy
with grpc.

On Sun, Oct 15, 2017 at 2:51 AM, Ashish Sinha <notifications@github.com>
wrote:

[2017-10-17 13:33] pbagchi opened #582 "External link for Zipkin for grpc is broken"
The external link to Brave for Zipkin for gRPC is broken in https://grpc.io/docs/.

[2017-10-21 20:19] coreybutler opened #584 "Invalid Node.js Dependency (Docs)"
While exploring/teaching myself about gRPC, I came across https://grpc.io/docs/quickstart/node.html ([node.md](https://github.com/grpc/grpc.github.io/blob/master/docs/quickstart/node.md)), which states Node version 1.1 or higher is required. There is no such thing as Node `1.1`.

Perhaps this was supposed to be `0.1.1`? Perhaps `4.1.1` or `6.1.1`? It makes a big difference since ECMAScript 2015 su

[2017-11-17 19:12] hsaliak commented on #584
@murgatroid99 could you clarify the version support?

[2017-11-17 19:14] murgatroid99 commented on #584
It should say that the minimum version is 4.0.0

[2017-11-21 11:08] qbolec opened #596 "C# quick start Grpc.Tools.1.7.x vs Grpc.Tools.1.2.2"
Not sure what exactly went wrong while following the tutorial https://grpc.io/docs/quickstart/csharp.html but at some point the tutorial states I should run:
[code]
but the packages directory contains Grpc.Tools.1.2.2 and not Grpc.Tools.1.2.2.
Moreover the content of generate_protos.bat also references Grp.Tools.1.2.2.
I am on v1.7.x branch, windows 10, Visual Studio Express 2015 for Windows Deskt

[2017-11-24 09:35] jtattermusch commented on #596
You're right that our example projects are out of date, we will update them soon. In the meantime, you can update the Grpc.Core and Grpc.Tools packages in the example projects yourself.

[2017-12-12 18:39] jtattermusch commented on #584
@murgatroid99, can you fix as part of of the fixit. Seems easy enough.

[2017-12-12 18:40] jtattermusch commented on #579
@ZhouyihaiDing  seems like a good item for the fixit.

[2017-12-12 18:40] jtattermusch commented on #556
@LisaFC  can you please fix or close?

[2017-12-12 18:41] jtattermusch commented on #545
@dfawley  can we fix as part of the fixit?

[2017-12-12 18:45] jtattermusch commented on #488
@apolcyn  please address or close.

[2017-12-12 18:45] jtattermusch commented on #472
@murgatroid99  can we fix as part of the fixit?

[2017-12-12 18:51] jtattermusch commented on #433
This was fixed a while ago by @mehrdada .

[2017-12-12 18:51] #433 closed

[2017-12-12 18:52] #415 closed

[2017-12-12 19:13] apolcyn commented on #488
I'd like to point everyone looking for more examples like this to take a look at the interop test [client](https://github.com/grpc/grpc/blob/master/src/ruby/pb/test/client.rb) and [server](https://github.com/grpc/grpc/blob/master/src/ruby/pb/test/server.rb) as well as the benchmarking "QPS" test [client](https://github.com/grpc/grpc/blob/master/src/ruby/qps/client.rb) and [server](https://github.c

[2017-12-12 20:50] #488 closed

[2017-12-12 20:52] jtattermusch commented on #376
Can we close this?

[2017-12-12 20:53] jtattermusch commented on #371
No activity here for >1year, closing.

[2017-12-12 20:53] #371 closed

[2017-12-12 20:54] jtattermusch commented on #354
Looks like this has been resolved.

[2017-12-12 20:54] #354 closed

[2017-12-12 20:55] jtattermusch commented on #338
@LisaFC, can we fix this as part of our this week's fixit?

[2017-12-12 20:56] jtattermusch commented on #231
No activity here for >1year, closing.

[2017-12-12 20:56] #231 closed

[2017-12-12 20:57] jtattermusch commented on #215
@murgatroid99 , can fix/close this?

[2017-12-12 20:58] jtattermusch commented on #207
@kpayson64, can we update / close this issue?

[2017-12-12 20:58] jtattermusch commented on #205
Any updates here?

[2017-12-12 21:00] jtattermusch commented on #193
seems fixed (and the original page doesn't exist anymore).

[2017-12-12 21:00] #193 closed

[2017-12-12 21:05] kpayson64 commented on #207
Yes, we have the latest credentials use documented.

[2017-12-12 21:06] kpayson64 commented on #207
@jtattermusch Looks like I don't have "close" privileges on this repository though, can you close this issue?

[2017-12-12 21:08] jtattermusch commented on #119
@menghanl , can you please address as part of the fixit?

[2017-12-12 21:10] jtattermusch commented on #101
No activity >2 years, closing.

[2017-12-12 21:10] #101 closed

[2017-12-12 21:10] #99 closed

[2017-12-12 21:11] #97 closed

[2017-12-12 21:12] jtattermusch commented on #95
Obsolete, closing.

[2017-12-12 21:12] #95 closed

[2017-12-12 21:12] #82 closed

[2017-12-12 21:12] #65 closed

[2017-12-12 21:13] jtattermusch commented on #23
Seems obsolete.

[2017-12-12 21:13] #23 closed

[2017-12-12 21:13] #13 closed

[2017-12-12 21:13] #12 closed

[2017-12-12 21:17] #207 closed

[2017-12-12 21:29] menghanl commented on #119
I think this have been fixed by https://github.com/grpc/grpc.github.io/commit/a03ca8a8b7558bbdf90d659f03fdda1fd3c09a3d

And searching for `codegen` on https://grpc.io/docs/tutorials/basic/go.html gives me nothing.

[2017-12-12 21:37] #119 closed

[2017-12-12 21:43] jtattermusch commented on #451
The link works now.

[2017-12-12 21:43] #451 closed

[2017-12-12 21:58] #582 closed

[2017-12-12 22:26] #133 closed

[2017-12-13 00:31] #438 closed

[2017-12-13 01:19] ZhouyihaiDing commented on #579
grpc_php_plugin is updated in https://github.com/grpc/grpc.github.io/pull/593/files#diff-eb973ca5c5ad5a35f6b2cfa030dbcdffR158 and this PR is approved.
I think we can merge that PR and close this issue. But I don't have the accessibility for this repo to do those things @stanley-cheung .

[2017-12-13 02:09] jtattermusch commented on #579
I merged the PR.

[2017-12-13 02:09] #579 closed

[2017-12-13 10:20] LisaFC commented on #205
Going to try and fix it today...

[2017-12-13 10:36] LisaFC commented on #205
Seems to be already fixed as the links in the TOC now go to different URLs for each language section.

[2017-12-13 10:37] #205 closed

[2017-12-13 15:20] LisaFC commented on #555
Not that I'm aware of, no. :(

Markdown is essentially kind of fragile given how much it relies on whitespace and the fact that it isn't actually standardized....

[2017-12-13 15:22] #447 closed

[2017-12-13 16:17] LisaFC commented on #489
Catching up on old issues, Tim are you still interested in writing something specifically aimed at REST service users that we can combine with a http.proto reference doc?

[2017-12-13 17:01] #584 closed

[2017-12-13 17:02] #556 closed

[2017-12-14 01:18] #596 closed

[2017-12-14 14:40] LisaFC commented on #495
OK, we can get ad-free custom search if we're using Google for Non-Profits, I *think* we can probably sort that via CNCF, I'm investigating.

[2017-12-15 04:39] snowzach commented on #230
So for anyone else here that want's to know the config to make it work I managed to get it going using @PiotrSikora patch. You need to disable buffering in order to make grpc streams work. @PiotrSikora, any idea if they plan to pull this? Pretty happy it works and it would help me out a lot.
[code]

[2018-01-06 09:46] pathbox commented on #230
waiting for good news

[2018-01-07 10:11] mritunjayblr commented on #230
@snowzach
I am trying GRPC with nginx, can you please let me know detail of config "location **/grpcpackagename.grpcservicename**"

[2018-01-16 17:04] snowzach commented on #230
@mritunjayblr it's basically just that.. GRPC is listening at a url of whatever the GRP package name is followed by the service name...

So if in your proto definition you have

package bob

service barker {
rpc blahblahbl;ah
}

your GRPC is technically listening at /bob.barker on your HTTP2 server.

[2018-01-29 21:11] nddipiazza opened #623 "Need to update the bi-directional async example on csharp.md"
https://github.com/grpc/grpc.github.io/blob/master/docs/tutorials/basic/csharp.md

`requestStream.MoveNext()`

never specifies the required `CancellationToken`

we should add it.

[2018-02-05 09:59] adematte commented on #376
can someone answer @LisaFC 's question? namely, is there a recommended approach?
if there's no recommandation to use the dynamic approach thant the static one should be better documented. Also, I feel the static approach is better suited for typescript folks IMO since typings could be generated with protoc.

[2018-02-25 21:24] otaviocarvalho opened #631 "Benchmarks for golang are not running or being displayed"
Golang benchmark results are either not running or not being displayed on the links attached to the [benchmark page](https://grpc.io/docs/guides/benchmarking.html#overview).

- [Sample screenshot without metrics for Golang](https://imgur.com/a/l5aur)
- [Multi-language performance dashboard @latest_release (lastest available stable release)](https://performance-dot-grpc-testing.appspot.com/explore?

[2018-03-09 22:15] #545 closed

[2018-03-13 11:21] erdema-ft opened #639 "Documentation / Samples section"
There are 3 samples in Samples section and Kelsey's helloword repo does not contain anything related to gRPC.
https://github.com/kelseyhightower/helloworld

[2018-03-30 12:35] mhausenblas commented on #230
If folks want to, happy to contribute the example based on what I did in https://github.com/mhausenblas/kruiser/blob/master/how-does-it-work.md … however, I'm still struggling with serving from non-root URL. So works fine with location `/` but not `/yages.Echo`.

[2018-04-03 07:13] derekmma commented on #230
Good news finally come!
https://www.nginx.com/blog/nginx-1-13-10-grpc/

[2018-04-30 18:19] nathanielmanistaatgoogle opened #656 ""gRPC Basics - Java" describes Protocol Buffers 3 as still in beta"
[This page.](https://groups.google.com/forum/#!topic/protobuf/E9CZz_lRY64) [This came up on the protobuf mailing list.](https://groups.google.com/forum/#!topic/protobuf/E9CZz_lRY64)

[2018-05-01 13:37] #656 closed

[2018-05-17 08:47] paulvi opened #665 "Golang.org is blocked in China, go get -u google.golang.org/grpc failes"
On https://grpc.io/docs/quickstart/go.html

there is

    $ go get -u google.golang.org/grpc

however golang.org is blocked in China (see https://no-google-in-china.github.io/ ), so the command fails.

There is mirror https://developers.google.cn, but I cannot find gRPC within products https://developers.google.cn/products/

What can be alternative that would work for all developers?

[2018-06-12 22:53] simonz130 opened #678 "Building helloworld-from-cli dotnetcore sample failing from command line"
This is what I get when building according to the instructions here:
https://grpc.io/docs/quickstart/csharp.html
(look for "**Build the example**" section, then **Using .NET Core SDK from the command line**

C:\dev\grpc\examples\csharp\helloworld-from-cli>dotnet build **/project.json
Microsoft (R) Build Engine version 15.7.177.53362 for .NET Core
Copyright (C) Microsoft Corporation. All rights res

[2018-06-20 20:01] jtattermusch opened #692 "Change INSTALL.md for BUILDING.md after release"
Once https://github.com/grpc/grpc/pull/15802 gets released and site.data.config.grpc_release_branch is updated.

The occurrences
[code]

[2018-06-25 04:15] gonzojive opened #694 "Font color too light to read for vision impaired"
My vision is not that great, so I find the gRPC website hard to read. May you please make the text black instead of medium gray? I believe the line that needs to change is the following:

https://github.com/grpc/grpc.github.io/blob/c02c68714292e9fe08171a0861f6df03a628c7a3/_sass/base/_colors.scss#L27

[2018-06-25 18:17] carl-mastrangelo commented on #694
Can you take a screen cap of where you see this?  Most of the text appears close to black

[2018-06-25 18:48] gonzojive commented on #694
See the difference below (based on changing CSS in the browser).

![black](https://user-images.githubusercontent.com/83831/41869365-a5c655aa-786d-11e8-8559-6aeb1c371162.png)

![medium gray](https://user-images.githubusercontent.com/83831/41869366-a5deba1e-786d-11e8-96be-73a3181ea7ff.png)

[2018-06-26 23:53] #694 closed

[2018-06-27 18:13] carl-mastrangelo commented on #692
Done in https://github.com/grpc/grpc.github.io/pull/696

[2018-06-27 18:13] carl-mastrangelo commented on #692
Well, partially anyways.

[2018-07-10 19:53] derrickaw opened #704 "Broken links: from Benchmarking site under Performance testing design"
Links are broken for both [WorkerService](https://github.com/grpc/grpc/blob/master/src/proto/grpc/testing/services.proto) and [BenchmarkService](https://github.com/grpc/grpc/blob/master/src/proto/grpc/testing/services.proto).

[2018-07-10 20:32] carl-mastrangelo commented on #704
Hi @kpayson64  can you take a look?  It seems it was changed in https://github.com/grpc/grpc/commit/7a20c962dfa547a7b7fc1a49e4ff3b2e92eae5e1

[2018-07-10 22:34] #704 closed

[2018-09-02 17:03] lmapii opened #736 "Python Asynchronous / Streaming RPC"
I was setting up gRPC for an electron app which is supposed to communicate with a python application. After a bit of struggling to get the basic communication up and working I've ran into some limitations.

* For a python gRPC server all the example create an iterator for streaming responses - is there any other way to use that? I'm using threads / workers to actually handle the request and provid

[2018-09-05 17:54] carl-mastrangelo commented on #736
Hi,

I don't think I can answer this question, and it's unlikely to be seen by anyone who can.  You might try asking on StackOverflow, or our official forum: https://groups.google.com/forum/#!forum/grpc-io

[2018-09-19 13:27] raboof opened #746 "'button links' don't work in Firefox"
The 'button links', i.e. on https://grpc.io/contribute, don't seem to work in Firefox (I'm on version 61.0.1)

[2018-09-19 17:36] carl-mastrangelo commented on #746
@raboof I see some of the buttons are missing text, but the ones with text seem to work.  Are you clicking directly on the text?

[2018-09-21 13:06] raboof commented on #746
Yes - like VIEW GUIDELINES and BROWSE THIS SITE'S SOURCE CODE. I *guess* it could be related to the Vimium plugin I'm using - though I haven't seen such problems with it before. (interestingly I *can* click the link through Vimium, actually :) )

[2018-10-04 06:30] AtosNicoS opened #751 "Typo in csharp tutorial"
See https://github.com/grpc/grpc.github.io/pull/742
Please commit the fix yourself.

[2018-10-10 01:11] annieoakley opened #755 "Web Quickstart for Echo example is broken"
When I try to follow the steps on https://grpc.io/docs/quickstart/web.html, `$ docker-compose pull prereqs common node-server envoy commonjs-client` fails for node-server:

ERROR: for node-server  pull access denied for grpcweb/node-server, repository does not exist or may require 'docker login'
ERROR: pull access denied for grpcweb/node-server, repository does not exist or may require 'docker log

[2018-10-10 01:18] annieoakley commented on #755
@stanley-cheung could you please take a quick look?

[2018-10-10 07:06] stanley-cheung commented on #755
Sorry I forgot to re-push the docker images after the latest release. They are pushed now. So this should work now:

[code]

[2018-10-10 18:14] jakepoz commented on #755
Confirmed, it works for me now!

[2018-10-11 20:00] #755 closed

[2018-10-23 19:38] maged opened #768 "Python client authentication example"
The authentication docs cover server authentication, but not client authentication. Is it possible to add a client authentication example to the docs. Does it require using other flags in `grpc.ssl_channel_credentials`?

[2018-10-23 20:39] carl-mastrangelo commented on #768
cc: @lidizheng

[2018-10-23 20:52] lidizheng commented on #768
@maged In the [doc](https://grpc.io/docs/guides/auth.html#with-server-authentication-ssltls-4), it provides example of TLS with Client Authentication which is default for gRPC, meaning both server and client should have certificates.

Or what you want is to perform the normal TLS without Client Authentication?

[2018-10-23 20:59] lidizheng commented on #768
If you would like to enforce the client authentication, you can set the `require_client_auth` for your `ssl_server_credentials`. For more details, check the [API Reference](https://grpc.io/grpc/python/grpc.html#grpc.ssl_server_credentials).

[2018-10-23 21:38] maged commented on #768
The solution I got to (which the API reference for [ssl_channel_credentials](https://grpc.io/grpc/python/grpc.html#grpc.ssl_server_credentials) was more helpful for) is to use these three flags:
[code]
`certificate_chain` and `private_key` are the client's cert and private key that the server will verify. `root_certificates` is the root CA that the server will be verified against.

Might be useful

[2018-10-23 23:12] maged commented on #768
Just to confirm, this only verifies that the client's certificate is signed by the root CA given, right? Is their anyway to verify the client CN against an expected CN?

[2018-10-24 00:03] lidizheng commented on #768
@maged

Yes. It depends on your server's setting of `require_client_auth`. If you set it to `True` then the server will request and require client certificate and verify it, for more [details](https://github.com/grpc/grpc/blob/525c59f74cbfe5300ce0c21dbd00fcf7a01e9934/include/grpc/grpc_security_constants.h#L105). If you set it to `False`, the server won't request the certificate at all.

Please che

[2018-10-24 22:42] adg opened #770 "Go generated code reference has no mention of error handling"
The [Go Generated Code Reference](https://grpc.io/docs/reference/go/generated-code.html) makes no mention of how errors are handled (or should be handled).

The particular question I would like answered is, if a streaming server method `Service.Foo` returns an error before sending any messages, will the client see receive the error from the initial call to `client.Foo()`, or the call to `Service_F

[2018-10-25 16:07] Vaibhav330900 opened #771 "grpc Simulate multi-thread upload using grpc-io protocol"
Hi,

I want to know is grpc python supports multithread. As I have checked on the grpc python documentation. Nothing is given related to multithread. kindly please share some reference.
Thank you

[2018-10-25 17:46] carl-mastrangelo commented on #771
@Vaibhav330900 Can you please open this as thread on the Support forum?   https://groups.google.com/forum/#!forum/grpc-io

We usually use GitHub issues as a TODO list and for bug reports.

Thanks!

[2018-10-26 17:22] Vaibhav330900 commented on #771
I already open there but no one reply
https://groups.google.com/forum/#!topic/grpc-io/TYz7WUUJkiw

On Thu, 25 Oct 2018 at 23:16, Carl Mastrangelo <notifications@github.com>
wrote:

--

--
Regards,
Vaibhav Bedi

--
Go Green --- Don't Print this e-mail unless you really need to

This email
and any files transmitted with it are confidential and intended solely
for
the use of the individual or entity

[2018-10-30 07:39] atalbayrak opened #773 "Missing Link in Overiview"
Hi,
In overview part, the link to the gPRC and protocol buffers ia missing

[2018-10-30 15:15] carl-mastrangelo commented on #773
@atalbayrak want to send a PR?

[2018-11-05 12:38] arthur-tacca opened #774 "Clarify lifetime requirement of response object passed to ServerAsyncResponseWriter<T>::Finish()"
In the implementation of an async C++ server, you will end up calling `ServerAsyncResponseWriter<T>::Finish()` in order to send a reply to the client. Here is the relevant line from the `greeter_async_server`:

    responder_.Finish(reply_, Status::OK, this);

As context / a reminder: It is certainly necessary to ensure the lifetime of the `ServerAsyncResponseWriter<T>` object (i.e. `responder_`)

[2018-11-05 19:35] yashykt commented on #774
gRPC follows the style guide that it does not maintain a reference or a pointer to anything that's passed in with a const reference so reply_ can be safely destroyed immediately after it. You are right in thinking that internally we serialize it immediately

[2018-11-12 16:04] tnir commented on #751
/assign

[2018-11-12 16:06] #751 closed

[2018-11-22 03:32] dyadaval commented on #230
Hey,

I just signed the petition "Prime Minister of India: We don't want bullet
trains; we want proper bulletproof jackets for our soldiers" and wanted to
see if you could help by adding your name.

Our goal is to reach 187,632 signatures and we need more support. You can
read more and sign the petition here:

http://chng.it/TvbPjd4MYD

Thanks!
Divakar

[2018-11-30 01:37] a2n opened #782 "Repeated blog article rss feed"
I subscribe the blog rss feed, there is a strange phenomenon since 2018-09, that is, an article rss feed repeats in random period, its title is "In a previous article , we explored how HTTP/2 dramatically increases network efficiency and enables real-time communic...", and links to https://grpc.io//2018/11/27/2018-08-20-grpc-on-http2.html

[2018-12-05 07:45] amirmasoud opened #786 "Installing web version"
When I try to install web version it throws the following error:

[code]

it's documented on the following page:
https://grpc.io/docs/quickstart/web.html

[2018-12-05 18:44] stanley-cheung commented on #786
Will fix. We recently updated the demo and forgot to update the website

[2018-12-07 21:47] #786 closed

[2018-12-18 04:40] ovekyc opened #797 "Presentations & Talks Video does not work"
I think the video data keys are not matched with javascript data.

Please compare files below.
https://github.com/grpc/grpc.github.io/blob/master/docs/talks/index.html
https://github.com/grpc/grpc.github.io/blob/master/js/common.js#L14

[2018-12-28 16:01] ST-DDT opened #801 "Cannot link to javadoc from jdk11's javadoc tool"
If I try to run `javadoc` with the `-link` option I get an error for the grpc-java's javadoc page.

The issue can be reproduced like this:

**Test.java**

[code]

**Command line**

`javadoc -link 'https://grpc.io/grpc-java/javadoc/' Test.java`

**Error message with jdk 11**

[code]

Unfortunately I couldn't get any details why it failed.

I also tried it with other javadoc pages and that seems to

[2019-01-02 08:33] jtattermusch opened #803 "C# can't really use Inproc transport as indicated by "language stacks" blogpost"
https://grpc.io/blog/grpc-stacks mentions "For example, you could use C# instead, and use an In-Process transport", which doesn't seem to be accurate. While this is true in principle, C# actually doesn't expose the APIs to create in-proc channel (such as https://github.com/grpc/grpc/blob/618a3f561d4a93f263cca23abad086ed8f4d5e86/src/core/ext/transport/inproc/inproc_transport.h#L26), and therefore y

[2019-01-02 09:41] jtattermusch opened #805 "Adding presentation videos is very error prone (and "talks" page is too complex to edit)"
Adding new content to the page should be easy, but instead one needs to edit two different files, for the video player to work correctly and that's extremely easy to miss.

Example:
See issue https://github.com/grpc/grpc.github.io/issues/797 (introduced by #730 which didn't update the .js file which broke the player for a long period of time).

Also, they tile layout of the video thumbnails is cur

[2019-01-03 16:21] carl-mastrangelo commented on #801
cc: @dapengzhang0

[2019-01-03 18:18] dapengzhang0 commented on #801
I just searched for similar issues on SO and found this https://stackoverflow.com/questions/33866209/linking-to-javadoc-io-using-javadoc-link-option
not tested it out yet.

[2019-01-03 19:40] dapengzhang0 commented on #801
From the above SO comments, I found a workaround using `-linkoffline`:

[code]

To fix the original issue, I think grpc javadoc need to generate a `package-list.html` page.

[2019-01-03 23:42] ST-DDT commented on #801
I tried a few things with gradle, but I was unable to change the failure behavior. I'm not sure whether this is my fault for not correctly configuring the build or the suggestion simply not working.

If you can explain me how I can configure my build tool (gradle 5) to do that...

I would appreciate any server side fix, that does not require any build tool hacks in consuming lib build tool scripts

[2019-01-04 00:22] dapengzhang0 commented on #801
@ST-DDT Can you provide a simple gradle file for your `Test.java`, so that I can know the way you set up javadoc config in gradle? This would help me verify "server side fix".

[2019-01-04 01:39] etombini opened #808 "links to articles in RSS feed are broken"
*Problem*
Links to articles in the RSS feed only have a path not a complete URL. Breaking navigation when using an RSS Reader that does not fill the blanks.

*Possible diagnostic*
The `https://grpc.io/` part is missing, as it is not set in `_config.yml`:
https://github.com/grpc/grpc.github.io/blob/e4676e430ec1ba5dccb60634a9eca700ad91a518/_config.yml#L9

[2019-01-04 12:47] ST-DDT commented on #801
**build.gradle**
[code]

**Directory-Structure**

* `src`
  * `main`
    * `java`
      * `Test.java`
* `build.gradle`
* (`gradle`)
  * ...
* (`gradlew`)
* (`gradlew.bat`)

I don't know whether you need the gradle stuff as well, for my tests i copied them from [here](https://github.com/yidongnan/grpc-spring-boot-starter)

**Output-JDK8**

[code]

**Output-JDK11**

[code]

[2019-01-04 16:04] carl-mastrangelo commented on #808
@etombini want to send a PR?

[2019-01-04 16:40] etombini commented on #808
@carl-mastrangelo done -> #809

[2019-01-04 17:02] dapengzhang0 commented on #801
Thank you @ST-DDT , that will be very helpful.

[2019-01-04 18:47] dapengzhang0 commented on #801
@ST-DDT I upload a workaround [here](https://github.com/grpc/grpc.github.io/files/2728131/test_workaround.zip)

**build.gradle**
[code]

**Directory-Structure**
- src
  - main
    - java
      - Test.java
- build.gradle
- **package-list**

[2019-01-04 21:39] lilrara opened #810 "Suggestions for "g stands for""
Hi!

I would like for you to consider naming the "g" in "gRPC" after one of my suggestions. Why? Because it's all my partner does in his free time, work on gRPC. It's got to third wheel status ☸️, where _I_ am the third wheel, so I want to do something he _hasn't_ done with gRPC.

Here are my ideas:

1. ### Gallimimus 🦖
   Like the dinosaur.
    [![G-g-ga-gallimimus](https://img.youtube.com/vi/gvm

[2019-01-04 21:59] jadekler commented on #810
Context: I suggested that this was probably the best place to suggest new names. :)

[2019-01-05 08:34] srini100 commented on #810
Thanks for the suggestions :-) I'll make an internal note for next release manager to consider these for 1.20.0 [release](https://github.com/grpc/grpc/blob/master/doc/g_stands_for.md).

[2019-01-07 22:42] dapengzhang0 commented on #801
@ST-DDT

**Solution:** Using the URL `https://github.com/grpc/grpc-java/tree/gh-pages/javadoc/` instead of `https://grpc.io/grpc-java/javadoc/` will work.

[code]

The problem with `https://grpc.io/grpc-java/javadoc/` is that the website grpc.io uses Jekyll which responses GET request to `https://grpc.io/grpc-java/javadoc/package-list` with Content-Type:"application/octet-stream" and a browser try

[2019-01-07 22:53] ST-DDT commented on #801
I can confirm that using the other link it does not throw an error anymore. However it does not generate  links to the grpc classes either. Is that page updated yet?

You can verify that behavior by changing the return type of the example config to an grpc-java class.

[2019-01-07 23:08] dapengzhang0 commented on #801
Right, it links to the github pages which are not in javadoc format. My mistake.

I tested with a few changes and reverted them back. So it is unchanged.

[2019-01-08 21:38] addie opened #812 "Typo in gRPC-Web-GA"

[2019-01-10 14:34] johanbrandhorst opened #816 "Links in references of state-of-grpc-web post are not hyperlinks"
See https://grpc.io/blog/state-of-grpc-web#references

This seems to have something to do with your markdown renderer as it is working as expected in my own blog: https://jbrandhorst.com/post/state-of-grpcweb/#references.

I'm gonna try to fix this with explicit `<a>` tags.

[2019-01-10 18:59] #816 closed

[2019-01-22 22:55] hsaliak commented on #812
Could you please add more details on this issue? It would be useful if you could point us to the typo in question..

[2019-03-14 22:14] sanjaypujare commented on #495
Any update on this? Search is needed on grpc.io

[2019-03-15 09:54] Lobachevsky commented on #810
Why stop at 6?

7. Gorgonzola.  Well-known blue veined smelly cheese with origins in Italy
8. Gonzo. A nod to Hunter S Thompson and/or The Great Gonzo from The Muppets, take your pick
9. Googolplex.  Maybe a bit too close to Google, Gurgle, etc.
10. Galapagos.  Darwin's vacation paradise

[2019-03-21 17:31] areliszxz commented on #230
si tienen dudas o preguntas chequen https://github.com/areliszxz/nginx-grpc-grpcs es mi primer tuto pero ya pase por todo el show de nginx y grpc-s

[2019-03-22 20:23] quinn opened #844 "no command grpc_tools_ruby_protoc"
There is no such command, and installing the grpc gem does not create it.

[2019-03-22 20:25] carl-mastrangelo commented on #844
cc @apolcyn

[2019-03-22 22:46] apolcyn commented on #844
This binary is provided not by the `grpc` gem but by the `grpc-tools` gem.

`gem install grpc-tools` would add `grpc_tools_ruby_protoc` (and `grpc_tools_ruby_protoc_plugin`) executables to your PATH.

[2019-03-24 16:08] quinn commented on #844
thanks!

[2019-03-24 16:08] #844 closed

[2019-04-05 17:44] dapengzhang0 commented on #801
@ST-DDT Using jdk **11.0.2**, the issue is gone.
[code]

[2019-04-08 20:50] thisisnotapril commented on #495
Closing this issue for now; we are migrating to a new site soon and can revisit search then if still needed.

[2019-04-08 20:50] #495 closed

[2019-04-12 05:22] ramarkandasamy opened #846 "GRPC connection select source interface/ip for initialize connection"
Environment:
----------------
Using GRPC with C++ API to connect with GoBGP servers. We have Eth0(Mgmt) and Eth1(Control Traffice) interfaces.
grpc::CreateChannel() to connect with GoBGP server. It is always selecting Eth0 interface.

Is there anyway or option to select Eth1 interface always?

[2019-04-17 19:02] lidizheng opened #848 "Scroll not reset after clicking the lower "GET STARTED" at home page"
This is a common nit for single page website.

[2019-04-17 19:04] lidizheng commented on #848
Refiled at https://github.com/cjyabraham/grpc/issues/17

[2019-04-17 19:04] #848 closed

[2019-04-26 22:01] nicolasnoble opened #854 "ARCHIVED REPOSITORY"
This repository has been archived since the website is no longer hosted on github pages. The new repository that holds the website is currently live at https://github.com/grpc/grpc.io

[2020-04-21 20:48] chalin opened #861 "Don't share the analytics ID with grpc.io"

[2020-04-21 20:51] chalin commented on #861
@thisisnotapril has generated a new ID. Use the new ID instead.

[2020-04-21 20:52] #861 closed

[2021-01-18 20:07] chalin opened #866 "Prevent indexing of site pages"
Cf. https://github.com/grpc/grpc.io/issues/599

[2021-01-18 20:13] #866 closed